Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

Version bump for release/M26.inkay
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

test: update phpcs ref to fix/phpcs-xargs-exit-code (#23)
  .github/workflows/phpcs.yml
Owners: @the-events-calendar/engineers

Replace TBD entries with version 6.16.5.1
  src/Tribe/Aggregator/REST/V1/Endpoints/Base.php
Owners: @the-events-calendar/engineers

:symbols: Updating .pot file and add language changelog for 807e28550715c21913bb4977943eae9d6505af2d
  changelog/task-i18n-807e285
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/M26.inkay This is an automated PR created by sdokus. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/28468302815
  changelog.md
  changelog/fix-SVUL-27-EA
  changelog/task-i18n-807e285
  readme.txt
Owners: @the-events-calendar/engineers

test with intentional errors
  src/functions/views/provider.php
Owners: @the-events-calendar/engineers

test 2
  src/Tribe/Admin/Settings.php
Owners: @the-events-calendar/engineers

test 3 - file clean
  src/Tribe/Admin/Settings.php
  src/functions/views/provider.php
Owners: @the-events-calendar/engineers

mistake, file clean now
  src/functions/views/provider.php
Owners: @the-events-calendar/engineers

update provider.php
  src/functions/views/provider.php
Owners: @the-events-calendar/engineers

ci: point phpcs reusable workflow to fix/phpcs-reviewdog-exit-code
  .github/workflows/phpcs.yml
Owners: @the-events-calendar/engineers

test 1: intentional phpcs errors in provider.php (re-run vs fix branch)
  src/functions/views/provider.php
Owners: @the-events-calendar/engineers

test 2: intentional phpcs errors in Settings.php (2-file scenario vs fix branch)
  src/Tribe/Admin/Settings.php
Owners: @the-events-calendar/engineers

test 3: restore provider.php to clean
  src/functions/views/provider.php
Owners: @the-events-calendar/engineers

test 3: restore Settings.php to clean
  src/Tribe/Admin/Settings.php
Owners: @the-events-calendar/engineers

error in 1 file
  src/functions/views/provider.php
Owners: @the-events-calendar/engineers

2 errors
  src/Tribe/Admin/Settings.php
Owners: @the-events-calendar/engineers

no files with phpcs errors but changes on non-php files
  changelog.md
  src/Tribe/Admin/Settings.php
  src/functions/views/provider.php
Owners: @the-events-calendar/engineers

what if we have no changes?
  changelog.md
Owners: @the-events-calendar/engineers

fix: remove stray 'inside' class causing double left/right padding on Events and Organizer metaboxes
  src/Tribe/Organizer.php
  src/admin-views/events-meta-box.php
Owners: @bordoni, @the-events-calendar/engineers

Fix REST API validation for event ID parameters in archive endpoints
  src/Tribe/REST/V1/Endpoints/Archive_Event.php
  src/Tribe/REST/V1/Endpoints/Archive_Organizer.php
  src/Tribe/REST/V1/Endpoints/Archive_Venue.php
  src/Tribe/REST/V1/Endpoints/Term_Archive_Base.php
  tests/restv1/EventDeletionCest.php
  tests/restv1/EventUpdateCest.php
  tests/restv1/SingleEventCest.php
Owners: @the-events-calendar/engineers

Update REST API endpoint to provide better errors when an event is Perm Deleted, Trashed, Invalid ID. This is useful to Promoter issues we are having right now.
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Messages.php
  src/Tribe/Validator/Base.php
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/Single_EventTest.php
  tests/wpunit/Tribe/Events/Validator/BaseTest.php
Owners: @the-events-calendar/engineers

Add specific error message for trashed events
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Messages.php
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/Single_EventTest.php
Owners: @the-events-calendar/engineers

Address PHPCS comments
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Messages.php
  src/Tribe/Validator/Base.php
Owners: @the-events-calendar/engineers

Adjust permission checks to errors are properly handled
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  tests/restv1/EventDeletionCest.php
  tests/restv1/EventUpdateCest.php
Owners: @the-events-calendar/engineers

Update test name
  tests/restv1/EventDeletionCest.php
Owners: @the-events-calendar/engineers

Update changelog with ticket number
  changelog/fix-rest-api-validation
Owners: @the-events-calendar/engineers

Add changelog entry.
  changelog/fix-rest-api-validation
Owners: @the-events-calendar/engineers

Add @since TBD tags to modified get() methods
  src/Tribe/REST/V1/Endpoints/Archive_Event.php
  src/Tribe/REST/V1/Endpoints/Archive_Organizer.php
  src/Tribe/REST/V1/Endpoints/Archive_Venue.php
  src/Tribe/REST/V1/Endpoints/Term_Archive_Base.php
Owners: @the-events-calendar/engineers

PHPCS tweaks
  src/Tribe/Validator/Base.php
  src/Tribe/Validator/Interface.php
Owners: @the-events-calendar/engineers

Small tweak
  src/Tribe/REST/V1/Endpoints/Single_Event.php
Owners: @the-events-calendar/engineers

Code Review feedback
  src/Tribe/REST/V1/Endpoints/Archive_Base.php
  src/Tribe/REST/V1/Endpoints/Archive_Event.php
  src/Tribe/REST/V1/Endpoints/Archive_Organizer.php
  src/Tribe/REST/V1/Endpoints/Archive_Venue.php
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Endpoints/Term_Archive_Base.php
  src/Tribe/REST/V1/Messages.php
  src/Tribe/Validator/Base.php
  src/Tribe/Validator/Interface.php
  tests/restv1/SingleEventCest.php
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/Single_EventTest.php
  tests/wpunit/Tribe/Events/Validator/BaseTest.php
Owners: @the-events-calendar/engineers

Align trashed-event error with SMTNC-249 spec and drop changelog ticket ref
  changelog/fix-rest-api-validation
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Messages.php
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/Single_EventTest.php
Owners: @the-events-calendar/engineers

[SMTNC-1797] fix: _load_textdomain_just_in_time notice bug
  src/Tribe/Aggregator/Cron.php
Owners: @the-events-calendar/engineers

fix: phpcs fix and changelog
  changelog/fix-smtnc-1797-global-load_textdomain-notice-flooding-logs
  src/Tribe/Aggregator/Cron.php
Owners: @the-events-calendar/engineers

test: add tests to prevent early translation notice and ensure schedule label translation after init
  tests/wpunit/Tribe/Events/Aggregator/CronTest.php
Owners: @the-events-calendar/engineers

Update changelog/fix-smtnc-1797-global-load_textdomain-notice-flooding-logs
  changelog/fix-smtnc-1797-global-load_textdomain-notice-flooding-logs
Owners: @the-events-calendar/engineers

fix: defer registration of cron_schedules filter until init to prevent early translation notice
  changelog/fix-smtnc-1797-global-load_textdomain-notice-flooding-logs
  src/Tribe/Aggregator/Cron.php
  tests/wpunit/Tribe/Events/Aggregator/CronTest.php
Owners: @the-events-calendar/engineers

fix: simplify cron_schedules fix per review feedback
  src/Tribe/Aggregator/Cron.php
  tests/wpunit/Tribe/Events/Aggregator/CronTest.php
Owners: @the-events-calendar/engineers

test: improve CronTest to simulate init firing without triggering global actions
  tests/wpunit/Tribe/Events/Aggregator/CronTest.php
Owners: @the-events-calendar/engineers

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni
