Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni

Increase contrast for current day in datepicker.
  changelog/fix-TEC-5640-datepicker-current-day-contrast
  src/resources/postcss/components/full/_datepicker.pcss
Owners: @the-events-calendar/engineers

Add in logic for A11Y labels that are I18N.
  vendor/bootstrap-datepicker/js/bootstrap-datepicker.js
Owners: @the-events-calendar/engineers

Focus trapping working, needs a bit more tweaking.
  vendor/bootstrap-datepicker/js/bootstrap-datepicker.js
Owners: @the-events-calendar/engineers

Improve accessibility by adding a visible outline when focus is on a day in the datepicker.
  changelog/fix-TEC-5646-datepicker-on-hover-outline
  src/resources/postcss/components/full/_datepicker.pcss
Owners: @the-events-calendar/engineers

Remove `!important` from Avada styling section
  src/resources/postcss/components/full/_datepicker.pcss
Owners: @the-events-calendar/engineers

chore: bump plugin headers
  readme.txt
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Update min wp version in workflows
  .github/workflows/tests-integrations.yml
  .github/workflows/tests-php.yml
Owners: @the-events-calendar/engineers

test: update snapshots
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses_with_password__4__0.snapshot.json
Owners: @the-events-calendar/engineers

test: remove noisy db error output from test
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/Models/BuilderTest.php
Owners: @the-events-calendar/engineers

Fix variable names to be TEC
  src/resources/postcss/components/full/_datepicker.pcss
  src/resources/postcss/components/full/_top-bar.pcss
  src/resources/postcss/views/full/month/_multiday-event.pcss
Owners: @the-events-calendar/engineers

Use new variable for outline
  src/resources/postcss/components/full/_datepicker.pcss
  src/resources/postcss/views/full/month/_multiday-event.pcss
Owners: @the-events-calendar/engineers

Add TEC-5640 to avoid merge conflicts in the future
  changelog/fix-TEC-5640-datepicker-current-day-contrast
  src/resources/postcss/components/full/_datepicker.pcss
Owners: @the-events-calendar/engineers

tests: fix broken test after updating test suite to wp 6.7
  src/Events/Custom_Tables/V1/Migration/Events.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/Migration/Events_Migration_RepositoryTest.php
Owners: @the-events-calendar/engineers

test: Cleaner way of fixing broken tests
  src/Events/Custom_Tables/V1/Migration/Events.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/Migration/Events_Migration_RepositoryTest.php
Owners: @the-events-calendar/engineers

tests: Update db dump
  tests/_data/rewrite_functional_dump.sql
Owners: @the-events-calendar/engineers

Improve category table stability by preventing fatal errors when custom column data receives null values.
  changelog/tweak-TEC-5712_category_color_type_hint
  src/Events/Category_Colors/Admin/Controller.php
  tests/integration_category_colors/Admin/Quick_Edit_Test.php
Owners: @the-events-calendar/engineers

Improve JavaScript namespace initialization by ensuring window.tribe is defined before category color scripts run. [TEC-5712]
  changelog/tweak-TEC-5714_Js_error
  src/resources/js/views/category-color-selector.js
Owners: @the-events-calendar/engineers

Change content template name to 'embed-content' to avoid conflicts
  changelog/fix-TEC-5717-calendar-embed-tweak
  src/Events/Calendar_Embeds/Frontend.php
  src/views/calendar-embeds/embed-content.php
Owners: @the-events-calendar/engineers

Add filter for managing series during trash maintenance
  changelog/fix-TECTRIA-709-handle-series-trash-maintenance
  src/Tribe/Event_Cleaner_Scheduler.php
Owners: @the-events-calendar/engineers, @bordoni

Tabbing a bit better. Styling is incorrect. Needs some additional work.
  vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css
  vendor/bootstrap-datepicker/js/bootstrap-datepicker.js
Owners: @the-events-calendar/engineers

chrore: Fix build process by bringing in sync lock file
  package-lock.json
Owners: @the-events-calendar/engineers

Tabbing looks to work 100%. Will review.
  vendor/bootstrap-datepicker/js/bootstrap-datepicker.js
Owners: @the-events-calendar/engineers

Working on stylesheet. I may revert back.
  vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css
Owners: @the-events-calendar/engineers

Style looks much better now.
  vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css
  vendor/bootstrap-datepicker/js/bootstrap-datepicker.js
Owners: @the-events-calendar/engineers

Prev/next buttons work again.
  vendor/bootstrap-datepicker/js/bootstrap-datepicker.js
Owners: @the-events-calendar/engineers

Small tweaks for the buttons.
  vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css
Owners: @the-events-calendar/engineers

Remove A11Y logic since it now exists in the base.
  src/resources/js/views/datepicker.js
Owners: @the-events-calendar/engineers

I think we are at least 95% there. Everything seems to be working properly.
  vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css
  vendor/bootstrap-datepicker/js/bootstrap-datepicker.js
Owners: @the-events-calendar/engineers

Turned the day of the week into an abbreviation and added label with the full day name.
  vendor/bootstrap-datepicker/js/bootstrap-datepicker.js
Owners: @the-events-calendar/engineers

Update query hadling to avoid showing the same event multiple times or not at all when Pro is not active. [TEC-5709]
  src/Events/Custom_Tables/V1/Views/V2/By_Day_View_Compatibility.php
  src/Events/Custom_Tables/V1/Views/V2/Provider.php
  src/Events/Custom_Tables/V1/WP_Query/Custom_Tables_Query.php
Owners: @the-events-calendar/engineers

Address phpcs errors.
  src/Events/Custom_Tables/V1/Views/V2/By_Day_View_Compatibility.php
  src/Events/Custom_Tables/V1/Views/V2/Provider.php
  src/Events/Custom_Tables/V1/WP_Query/Custom_Tables_Query.php
Owners: @the-events-calendar/engineers

Add changelog
  changelog/fix-TEC-5709-handle-ecp-deactivation
Owners: @the-events-calendar/engineers

Implement a datepicker-grid for the month view. Fixes issues in Chrome based browsers. Removed 25% column size due to grid now.
  src/resources/postcss/components/skeleton/_datepicker.pcss
  vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css
  vendor/bootstrap-datepicker/js/bootstrap-datepicker.js
Owners: @the-events-calendar/engineers

Add changelog
  changelog/tweak-tec-5620_datepicker_a11y
Owners: @the-events-calendar/engineers

Updated minified CSS.
  vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css
Owners: @the-events-calendar/engineers

update snapshots.
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses_with_password__4__0.snapshot.json
Owners: @the-events-calendar/engineers

minify bootstrap-datepicker
  vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js
Owners: @the-events-calendar/engineers

Version bump for release/T25.obsidian
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

chore: add changelog entry
  changelog.md
  readme.txt
Owners: @the-events-calendar/engineers

Change format for ignored vs. trashed events
  src/Tribe/Ignored_Events.php
Owners: @bordoni
