Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni

sync previous dates on date update
  src/resources/packages/classy/fields/EventDateTime/EventDateTime.tsx
Owners: @the-events-calendar/engineers

Apply suggestions from code review
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Version bump for release/T25.ion
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Ensure pass protected venues/organizers have their data hidden
  src/Tribe/REST/V1/Endpoints/Archive_Organizer.php
  src/Tribe/REST/V1/Endpoints/Archive_Venue.php
  src/Tribe/REST/V1/Endpoints/Single_Organizer.php
  src/Tribe/REST/V1/Endpoints/Single_Venue.php
  src/Tribe/REST/V1/Main.php
  src/Tribe/REST/V1/Validator/Base.php
Owners: @the-events-calendar/engineers

Adding test coverage
  tests/_support/Factories/Organizer.php
  tests/_support/Factories/Venue.php
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/Archive_OrganizerTest.php
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/Archive_VenueTest.php
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/Single_OrganizerTest.php
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/Single_VenueTest.php
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/__snapshots__/Archive_OrganizerTest__it_should_hide_password_protected_fields__0.snapshot.json
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/__snapshots__/Archive_VenueTest__it_should_hide_password_protected_fields__0.snapshot.json
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/__snapshots__/Single_OrganizerTest__it_should_hide_password_protected_fields__0.snapshot.json
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/__snapshots__/Single_VenueTest__it_should_hide_password_protected_fields__0.snapshot.json
Owners: @the-events-calendar/engineers

Classy: Only show custom field option when NOT using Classy editor
  src/admin-views/settings/tabs/general/general-editing.php
Owners: @the-events-calendar/engineers

build(package-lock.json) regen
  package-lock.json
Owners: @the-events-calendar/engineers

fix issue 24
  src/resources/packages/classy/fields/EventDateTime/EventDateTime.tsx
Owners: @the-events-calendar/engineers

Hide Venue/organizer details from single views when pass protected
  src/views/modules/meta/map.php
  src/views/modules/meta/organizer.php
  src/views/modules/meta/venue.php
  src/views/v2/components/header.php
  src/views/v2/day/event/venue.php
  src/views/v2/list.php
  src/views/v2/list/event/venue.php
Owners: @the-events-calendar/engineers

Fixing breaking tests
  src/views/v2/components/header.php
Owners: @the-events-calendar/engineers

Updating snapshot
  tests/views_integration/Tribe/Events/Views/V2/Partials/Day_View/Event/__snapshots__/VenueTest__test_render_with_event_with_venue__1.php
Owners: @the-events-calendar/engineers

Fix undefined variable
  src/views/modules/meta/venue.php
Owners: @the-events-calendar/engineers

Add changelog
  changelog/fix-TEC-1052
Owners: @the-events-calendar/engineers

Run 'npm run classy:format'
  src/resources/packages/classy/fields/EventAdmission/EventAdmission.tsx
  src/resources/packages/classy/fields/EventDateTime/EventDateTime.tsx
  src/resources/packages/classy/store/reducer.ts
Owners: @the-events-calendar/engineers

Update the config file with correct paths for aliases
  tests/classy_jest/jest.config.js
Owners: @the-events-calendar/engineers

Update package-lock file with latest dependencies
  package-lock.json
Owners: @the-events-calendar/engineers

Fixed display of multi venues
  src/views/blocks/event-venue.php
  src/views/blocks/parts/map.php
  src/views/blocks/parts/venue.php
Owners: @the-events-calendar/engineers

Revert attempt to hide possibly public events
  src/views/v2/components/header.php
  src/views/v2/list.php
Owners: @the-events-calendar/engineers

Re-implement and update JS tests
  .github/workflows/tests-js.yml
  .github/workflows/tests-js.yml.bak
Owners: @the-events-calendar/engineers

added changelog
  changelog/release-T25.ion
Owners: @the-events-calendar/engineers

Template analyze changelog
  changelog/template-changes
Owners: @the-events-calendar/engineers

:symbols: Updating .pot file and add language changelog for 545d976c1c6cf79e74f952ce0e561dc67edb85ad
  changelog/task-i18n-545d976
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/T25.ion This is an automated PR created by Camwyn. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/17622981443
  changelog.md
  changelog/release-T25.ion
  changelog/task-i18n-545d976
  changelog/template-changes
  readme.txt
Owners: @the-events-calendar/engineers

Replace TBD entries with version 6.15.3
  src/Tribe/REST/V1/Endpoints/Archive_Organizer.php
  src/Tribe/REST/V1/Endpoints/Archive_Venue.php
  src/Tribe/REST/V1/Endpoints/Single_Organizer.php
  src/Tribe/REST/V1/Endpoints/Single_Venue.php
  src/Tribe/REST/V1/Main.php
  src/Tribe/REST/V1/Validator/Base.php
  src/views/modules/meta/map.php
  src/views/modules/meta/organizer.php
  src/views/modules/meta/venue.php
  src/views/v2/day/event/venue.php
  src/views/v2/list/event/venue.php
Owners: @the-events-calendar/engineers

Add missing global interfaces
  tests/classy_jest/jest.setup.ts
Owners: @the-events-calendar/engineers

Add ts-node dependency
  package-lock.json
  package.json
  tests/classy_jest/jest.config.js
Owners: @the-events-calendar/engineers

Update the tsconfig for Jest tests
  tests/classy_jest/jest.config.js
Owners: @the-events-calendar/engineers

Fixup test errors
  tests/classy_jest/fields/EventCost/EventCost.spec.tsx
  tests/classy_jest/fields/EventLocation.spec.tsx
  tests/classy_jest/jest.setup.ts
Owners: @the-events-calendar/engineers

Update tribe-options-imports.php
  src/admin-views/tribe-options-imports.php
Owners: @the-events-calendar/engineers

Update import-form.php
  src/admin-views/aggregator/tabs/import-form.php
Owners: @the-events-calendar/engineers

Add changelog.
  changelog/fix-CE-330_linked_post_missing_slug
Owners: @the-events-calendar/engineers

Update `@since`.
  src/Tribe/Main.php
Owners: @bordoni

Make the datepicker focusable and tabable for accessibility.
  changelog/accessibility-CE-278_focus_datepicker
  src/resources/js/events-admin.js
Owners: @the-events-calendar/engineers

Updated docblock.
  src/Tribe/Main.php
Owners: @bordoni

Removed extra param from docblock.
  src/Tribe/Main.php
Owners: @bordoni

Fix spacing.
  src/Tribe/Main.php
Owners: @bordoni

Version bump for release/T25.ironman
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

hphcs fix
  src/Events/Custom_Tables/V1/WP_Query/Modifiers/Events_Only_Modifier.php
Owners: @the-events-calendar/engineers

Combine two loops into one in Events_Only_Modifier.
  src/Events/Custom_Tables/V1/WP_Query/Modifiers/Events_Only_Modifier.php
Owners: @the-events-calendar/engineers

Ensure the event ID passed is an *event* ID (or false).
  src/functions/template-tags/link.php
Owners: @the-events-calendar/engineers
