Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

Update src/Events/Category_Colors/CSS/Assets.php
  src/Events/Category_Colors/CSS/Assets.php
Owners: @the-events-calendar/engineers

Run `tut analyze`.
  changelog/tut_analyze_added_actions
Owners: @the-events-calendar/engineers

Replace TBD entries with version 6.15.9
  src/Events/Admin/Controller.php
  src/Events/Admin/Settings/Events_Pro_Upsell.php
  src/Events/Category_Colors/CSS/Assets.php
  src/Events/Integrations/Plugins/WordPress_SEO/Events_Pagination.php
  src/Events/Integrations/Plugins/WordPress_SEO/Provider.php
  src/admin-views/settings/upsells/recurrence-banner.php
  src/functions/template-tags/loop.php
Owners: @the-events-calendar/engineers

:symbols: Updating .pot file and add language changelog for c8b01d133ca046a8c4ede70879357b67c513f25b
  changelog/task-i18n-c8b01d1
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/T25.loki This is an automated PR created by redscar. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/18689288909
  changelog.md
  changelog/fix-TEC-5419-cc-inline-enqueue
  changelog/task-TEC-5682_revert_avada_css_combiner
  changelog/task-i18n-c8b01d1
  changelog/tut_analyze_added_actions
  changelog/tweak-TEC-5000
  changelog/tweak-create_new_tec_is_valid_view
  changelog/tweak-upsell-ecp-tec-5589
  readme.txt
Owners: @the-events-calendar/engineers

chore: Updated since tags
  src/Events/REST/TEC/V1/Traits/With_Events_ORM.php
  src/Events/REST/TEC/V1/Traits/With_Organizers_ORM.php
  src/Events/REST/TEC/V1/Traits/With_Venues_ORM.php
Owners: @the-events-calendar/engineers

refactor(Classy) phase 0,1 to fix inconsistency issues
  src/resources/packages/classy/fields/EventAdmission/EventAdmission.tsx
  src/resources/packages/classy/fields/EventLocation/EventLocation.tsx
  src/resources/packages/classy/fields/EventOrganizer/EventOrganizer.tsx
Owners: @the-events-calendar/engineers

refactor(Classy) phase 4 style/component
  src/resources/packages/classy/fields/EventOrganizer/style.pcss
Owners: @the-events-calendar/engineers

refactor(Classy) update org, venue modals
  src/resources/packages/classy/fields/EventLocation/VenueUpsert.tsx
  src/resources/packages/classy/fields/EventLocation/VenueUpsertModal.tsx
  src/resources/packages/classy/fields/EventOrganizer/OrganizerUpsert.tsx
  src/resources/packages/classy/fields/EventOrganizer/OrganizerUpsertModal.tsx
Owners: @the-events-calendar/engineers

Version bump for release/T25.lukecage
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

doc(Classy) add doc-blocks to type
  src/resources/packages/classy/types/EventDateTimeDetails.d.ts
Owners: @the-events-calendar/engineers

apply fixes for svul 26 & 28
  changelog/fix-svul-26
  changelog/fix-svul-28
  src/Events/Custom_Tables/V1/WP_Query/Custom_Tables_Query.php
  src/Events/QR/QR_Code.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/Custom_Tables_QueryTest.php
Owners: @the-events-calendar/engineers

Version bump for T25.missmartian
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Process changelog for refs/heads/release/T25.lukecage This is an automated PR created by dpanta94. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/18876629706
  changelog.md
  changelog/fix-svul-26
  changelog/fix-svul-28
  readme.txt
Owners: @the-events-calendar/engineers

Switched from `em` to `span`.
  src/views/v2/month/calendar-body/day/date-extras.php
Owners: @the-events-calendar/engineers

Update tab order to mini calendar.
  src/resources/js/views/month-mobile-events.js
  src/views/v2/month/calendar-body/day/date.php
Owners: @the-events-calendar/engineers

Reorder action_restore_events to avoid warning
  changelog/fix-TEC-5721-ignored-events-warning
  src/Tribe/Ignored_Events.php
Owners: @the-events-calendar/engineers, @bordoni

Remove superfluous parameter comment and extra space
  src/Tribe/Ignored_Events.php
Owners: @bordoni

Fix all PHPCS errors flagged in file
  src/Tribe/Ignored_Events.php
Owners: @bordoni

Fix more PHPCS stuff
  src/Tribe/Ignored_Events.php
Owners: @bordoni

Fighting with PHPCS again
  src/Tribe/Ignored_Events.php
Owners: @bordoni

Missed one
  src/Tribe/Ignored_Events.php
Owners: @bordoni

Remove role="presentation" from the month table
  changelog/fix-TEC-5719-month-table
  src/views/v2/month.php
  tests/_support/_generated/Views_uiTesterActions.php
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Month View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
Owners: @the-events-calendar/engineers

Sanitize and match verification in rest of function
  src/Tribe/Ignored_Events.php
Owners: @bordoni

Use tribe_get_request_var in all places of function
  src/Tribe/Ignored_Events.php
Owners: @bordoni

Made date.php more accessible and updated snapshots.
  src/views/v2/month/calendar-body/day/date.php
  tests/integration_category_colors/Frontend/Views/V2/Partials/Components/__snapshots__/Category_Color_Month_ViewTest__test_render_with_event_month_view__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/Calendar_Body/__snapshots__/DayTest__test_render_with_context__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/__snapshots__/Calendar_BodyTest__test_static_render__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/__snapshots__/Calendar_BodyTest__test_static_render_past__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
Owners: @the-events-calendar/engineers

Update snapshots.
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags - no cats__0.snapshot.html
Owners: @the-events-calendar/engineers

Update snapshots.
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags and cats__0.snapshot.html
Owners: @the-events-calendar/engineers

Fix failing tests.
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/Custom_Tables_QueryTest.php
Owners: @the-events-calendar/engineers

Changelog, phpcs.
  changelog/tweak-TEC-5228
  changelog/tweak-TEC-5231
  src/views/v2/month/calendar-body/day/date.php
Owners: @the-events-calendar/engineers

refactor(Classy) update modules to use tecApi
  src/resources/packages/classy/api/organizers.ts
  src/resources/packages/classy/api/venues.ts
Owners: @the-events-calendar/engineers

Removed aria-readonly
  src/views/v2/month.php
Owners: @the-events-calendar/engineers

Updated the calendar-header.php to make it more accessible.
  changelog/fix-TEC-5719-month-table-header
  src/views/v2/month/calendar-header.php
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags and cats__0.snapshot.html
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/__snapshots__/Calendar_HeaderTest__test_render__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Month View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
Owners: @the-events-calendar/engineers

Remove deprecated test.
  tests/views_integration/Tribe/Events/Views/V2/HTML/MonthTest.php
Owners: @the-events-calendar/engineers

Update changelog/fix-TEC-5719-month-table-header
  changelog/fix-TEC-5719-month-table-header
Owners: @the-events-calendar/engineers

Change dl tags to ul tags for Single Event view
  changelog/fix-event-meta-definition-list-accessibility
  src/functions/template-tags/general.php
  src/resources/postcss/tribe-events-full.pcss
  src/resources/postcss/tribe-events-single-blocks.pcss
  src/resources/postcss/tribe-events-skeleton.pcss
  src/resources/postcss/views/full/_single-event.pcss
  src/resources/postcss/views/skeleton/_single-event.pcss
  src/views/blocks/parts/details.php
  src/views/modules/meta/details.php
  src/views/modules/meta/organizer.php
  src/views/modules/meta/venue.php
Owners: @the-events-calendar/engineers

refactor(Classy) remove use of LabeldInput comp
  src/resources/packages/classy/fields/EventLocation/VenueUpsert.tsx
  src/resources/packages/classy/fields/EventOrganizer/OrganizerUpsert.tsx
Owners: @the-events-calendar/engineers

PHPCS fixes
  src/views/blocks/parts/details.php
  src/views/modules/meta/details.php
  src/views/modules/meta/organizer.php
  src/views/modules/meta/venue.php
Owners: @the-events-calendar/engineers

Add block parts and update some snapshots
  src/views/blocks/parts/organizer.php
  src/views/blocks/parts/venue.php
  src/views/modules/meta/venue.php
  tests/views_integration/Tribe/Events/Views/Blocks/__snapshots__/Classic_Event_DetailsTest__test_render_no_custom_classes__1.php
  tests/views_integration/Tribe/Events/Views/Blocks/__snapshots__/Classic_Event_DetailsTest__test_render_with_multiple_custom_classes__1.php
  tests/views_integration/Tribe/Events/Views/Blocks/__snapshots__/Classic_Event_DetailsTest__test_render_with_single_custom_class__1.php
Owners: @the-events-calendar/engineers

Avoid more PHPCS flags about escaping
  src/views/blocks/parts/organizer.php
  src/views/blocks/parts/venue.php
  src/views/modules/meta/organizer.php
  src/views/modules/meta/venue.php
Owners: @the-events-calendar/engineers

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni
