Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

Instead of relying on getting a hydrated event object, ensure we query for the event start date meta if it's not present. [ECP-1952]
  src/Tribe/Adjacent_Events.php
Owners: @bordoni

Add changelog
  changelog/fix-TEC-1052
Owners: @the-events-calendar/engineers

Apply suggestions from code review
  src/Tribe/Adjacent_Events.php
Owners: @bordoni

Update used Repository Interface
  src/Events/REST/TEC/V1/Traits/With_Events_ORM.php
  src/Events/REST/TEC/V1/Traits/With_Organizers_ORM.php
  src/Events/REST/TEC/V1/Traits/With_Venues_ORM.php
Owners: @the-events-calendar/engineers

Ensure Organizers are properly included in API results
  src/Events/REST/TEC/V1/Endpoints/Organizers.php
Owners: @the-events-calendar/engineers

PHPCS fixups
  src/Events/REST/TEC/V1/Endpoints/Organizers.php
Owners: @the-events-calendar/engineers

Enhance REST `u` param handling for context merging
  src/Tribe/Views/V2/Rest_Endpoint.php
  tests/views_integration/Tribe/Events/Views/V2/Rest_EndpointTest.php
Owners: @the-events-calendar/engineers

tests(PHP) use Suite_Env to control features
  codeception.dist.yml
  tests/_bootstrap.php
  tests/ct1_integration/_bootstrap.php
  tests/ct1_migration/_bootstrap.php
  tests/ct1_multisite_integration/_bootstrap.php
  tests/ct1_wp_json_api/_bootstrap.php
  tests/wp_json_api/_bootstrap.php
Owners: @the-events-calendar/engineers

test(ct1_integration) fix test method
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/Migration/Events_Migration_RepositoryTest.php
Owners: @the-events-calendar/engineers

build(tests-php.yml) deactivate deprecated suite
  .github/workflows/tests-php.yml
Owners: @the-events-calendar/engineers

Include new TCMN loader.
  src/Tribe/Main.php
Owners: @bordoni

update version
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Use double quotes for strings with apostrophes
  src/Events/REST/TEC/V1/Documentation/Organizer_Request_Body_Definition.php
Owners: @the-events-calendar/engineers

Update organizers APIz
  src/resources/packages/classy/api/organizers.ts
Owners: @the-events-calendar/engineers

Update venue API to use the new REST API
  src/resources/packages/classy/api/venues.ts
Owners: @the-events-calendar/engineers

Run `npm run classy:format`
  src/resources/packages/classy/api/organizers.ts
  tests/classy_jest/jest.config.js
  tests/classy_jest/jest.setup.ts
Owners: @the-events-calendar/engineers

use multiday value from state
  src/resources/packages/classy/fields/EventDateTime/EventDateTime.tsx
Owners: @the-events-calendar/engineers

updated params
  src/resources/packages/classy/fields/EventDateTime/EventDateTime.tsx
Owners: @the-events-calendar/engineers

fixed updating date changes
  src/resources/packages/classy/fields/EventDateTime/EventDateTime.tsx
Owners: @the-events-calendar/engineers

refactor(Classy) use apiFetch directly with TEC API
  src/resources/packages/classy/api/organizers.ts
  src/resources/packages/classy/api/venues.ts
Owners: @the-events-calendar/engineers

style(Classy) format
  src/resources/packages/classy/fields/EventDateTime/EventDateTime.tsx
Owners: @the-events-calendar/engineers

test(classy_jest) update to use ts configuration files
  package.json
  tests/classy_jest/babel.config.js
  tests/classy_jest/functions/renderFields.spec.tsx
  tests/classy_jest/jest.config.js
  tests/classy_jest/jest.config.ts
  tests/classy_jest/tsconfig.json
Owners: @the-events-calendar/engineers

Update organizer.php
  src/views/blocks/parts/organizer.php
Owners: @the-events-calendar/engineers

Update organizer.php
  src/views/modules/meta/organizer.php
Owners: @the-events-calendar/engineers

Update venue.php
  src/views/modules/meta/venue.php
Owners: @the-events-calendar/engineers

Update Single_Venue.php
  src/Tribe/REST/V1/Endpoints/Single_Venue.php
Owners: @the-events-calendar/engineers

Update Single_Organizer.php
  src/Tribe/REST/V1/Endpoints/Single_Organizer.php
Owners: @the-events-calendar/engineers

Update Messages.php
  src/Tribe/REST/V1/Messages.php
Owners: @the-events-calendar/engineers

Update Queue_Processor.php
  src/Tribe/Aggregator/Record/Queue_Processor.php
Owners: @the-events-calendar/engineers

Update Edit.php
  src/Tribe/Aggregator/Tabs/Edit.php
Owners: @the-events-calendar/engineers

Update Ignored_Events.php
  src/Tribe/Ignored_Events.php
Owners: @bordoni

Update Notices.php
  src/Events/Custom_Tables/V1/Notices.php
Owners: @the-events-calendar/engineers

Update upgrade-box.php
  src/Events/Custom_Tables/V1/admin-views/migration/upgrade-box.php
Owners: @the-events-calendar/engineers

test(wp_json_api) login as admin
  tests/wp_json_api/Events_ArchiveCest.php
Owners: @the-events-calendar/engineers

test(wp_json_api) login as admin
  tests/wp_json_api/Events_ArchiveCest.php
Owners: @the-events-calendar/engineers

test(_bootstrap.php) fix suite name
  tests/_bootstrap.php
Owners: @the-events-calendar/engineers

style(tests) uppercase SQL
  tests/ct1_wp_json_api/_bootstrap.php
Owners: @the-events-calendar/engineers

tests(ct1_wp_json_api) login as admin before tests
  tests/ct1_wp_json_api/Events_ArchiveCest.php
Owners: @the-events-calendar/engineers

test(classy_jest) config types to avoid missing JSX issue
  tests/classy_jest/jest.config.ts
Owners: @the-events-calendar/engineers

stabilize iso string to avoid re-render notice
  src/resources/packages/classy/store/selectors.ts
Owners: @the-events-calendar/engineers

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni
