Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni

Address phpcs errors.
  src/Events/Custom_Tables/V1/Views/V2/By_Day_View_Compatibility.php
  src/Events/Custom_Tables/V1/Views/V2/Provider.php
  src/Events/Custom_Tables/V1/WP_Query/Custom_Tables_Query.php
Owners: @the-events-calendar/engineers

Automatically disabled Avada’s “Combine Third Party CSS Files” option when The Events Calendar is active to prevent stylesheet conflicts.
  changelog/tweak-TEC-5682_Avada_disable_css_combiner
  src/Events/Integrations/Provider.php
  src/Events/Integrations/Themes/Avada/Provider.php
Owners: @the-events-calendar/engineers

Simplified return statement.
  src/Events/Integrations/Themes/Avada/Provider.php
Owners: @the-events-calendar/engineers

Fix notice test.
  tests/integration/Tribe/Events/Integrations/Install_Tickets_NoticeTest.php
Owners: @the-events-calendar/engineers

simplified keydown handler
  src/resources/js/views/tooltip.js
Owners: @the-events-calendar/engineers

change log added
  changelog/fix-free-translation
Owners: @the-events-calendar/engineers

change log added
  changelog/fix-tooltip-close-tec-5217
Owners: @the-events-calendar/engineers

Update sorting to mimic WordPress default query order properly. Get tests passing.
  tests/integration/Tribe__Events__QueryTest.php
  tests/integration/__snapshots__/Tribe__Events__QueryTest__should_filter_and_order_an_event_query__1.php
  tests/integration/__snapshots__/Tribe__Events__QueryTest__should_filter_and_order_main_events_query__1.php
  tests/integration/__snapshots__/Tribe__Events__QueryTest__should_not_filter_and_order_a_query_for_non_events_cpt__1.php
  tests/integration/__snapshots__/Tribe__Events__QueryTest__should_not_filter_and_order_a_query_if_suppressed__1.php
  tests/integration/__snapshots__/Tribe__Events__QueryTest__should_not_filter_and_order_query_for_not_only_events__1.php
  tests/integration/__snapshots__/Tribe__Events__QueryTest__should_not_filter_and_order_the_main_query_if_suppressed__1.php
Owners: @the-events-calendar/engineers

Switch to `@before`,`@after`. Save the $_GET variables and the current screen so we can reset them at the end.
  tests/integration/TEC/Events/Admin/Onboarding/Landing_Page_Webpack_Test.php
Owners: @the-events-calendar/engineers

Remove some debug code in tests.
  src/Tribe/Aggregator/Cron.php
  tests/ct1_migration/TEC/Events/Custom_Tables/V1/Tables/Tables_Test_Case.php
  tests/integration/Tribe__Events__QueryTest.php
  tests/integration_category_colors/Migration/Processors/Pre_Processor_Test.php
Owners: @the-events-calendar/engineers

Update tests/integration/TEC/Events/Admin/Onboarding/Landing_Page_Webpack_Test.php
  tests/integration/TEC/Events/Admin/Onboarding/Landing_Page_Webpack_Test.php
Owners: @the-events-calendar/engineers

Update tests/integration/TEC/Events/Admin/Onboarding/Landing_Page_Webpack_Test.php
  tests/integration/TEC/Events/Admin/Onboarding/Landing_Page_Webpack_Test.php
Owners: @the-events-calendar/engineers

CR suggestions. Smarter bail logic for disabling the combined CSS option.
  src/Events/Integrations/Themes/Avada/Provider.php
Owners: @the-events-calendar/engineers

Update changelog/fix-free-translation
  changelog/fix-free-translation
Owners: @the-events-calendar/engineers

use ul and li tags for list view
  src/views/v2/list.php
  src/views/v2/list/event.php
Owners: @the-events-calendar/engineers

month view separator converted to li
  src/views/v2/list/month-separator.php
Owners: @the-events-calendar/engineers

views integration snapshot updates
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/BacklinkTest__test_render_with_backlink_data with data set backlink with whitespace-only values__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/BacklinkTest__test_render_with_backlink_data with data set complete backlink data__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/List_View/__snapshots__/EventTest__test_render_with_event__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/List_View/__snapshots__/EventTest__test_render_with_featured_event__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/List_View/__snapshots__/Month_SeparatorTest__test_should_render_month_separator__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set List View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__2.php
  tests/views_integration/Tribe/Events/Views/V2/__snapshots__/ExtendingViewTest__should_render_the_default_view_if_view_not_found__1.php
Owners: @the-events-calendar/engineers

integration category colors snapshots updated
  tests/_support/_generated/IntegrationTesterActions.php
  tests/integration_category_colors/Frontend/Views/V2/Partials/Components/__snapshots__/Category_Color_List_ViewTest__test_render_with_category_colors_disabled__1.php
  tests/integration_category_colors/Frontend/Views/V2/Partials/Components/__snapshots__/Category_Color_List_ViewTest__test_render_with_event_list_view__1.php
Owners: @the-events-calendar/engineers

change log added
  changelog/fix-list-view-tec-5210
Owners: @the-events-calendar/engineers

Move some colors out of media queries
  changelog/fix-TEC-5504
  src/resources/postcss/components/full/_view-selector.pcss
Owners: @the-events-calendar/engineers

Fix our jest and babel config to handle the removal of product-taskmaster better. Ensure the package jest tests run correctly.
  babel.config.js
  jest.config.js
  jest.setup.js
  package.json
  src/resources/packages/webpack-public-path.js
  tests/_support/_generated/IntegrationTesterActions.php
Owners: @the-events-calendar/engineers

Update upgrade-box.php (#5365)
  src/Events/Custom_Tables/V1/admin-views/migration/upgrade-box.php
Owners: @the-events-calendar/engineers

Update Notices.php (#5364)
  src/Events/Custom_Tables/V1/Notices.php
Owners: @the-events-calendar/engineers

Update Ignored_Events.php (#5363)
  src/Tribe/Ignored_Events.php
Owners: @bordoni

Update Edit.php (#5362)
  src/Tribe/Aggregator/Tabs/Edit.php
Owners: @the-events-calendar/engineers

Update Queue_Processor.php (#5361)
  src/Tribe/Aggregator/Record/Queue_Processor.php
Owners: @the-events-calendar/engineers

Update Messages.php (#5360)
  src/Tribe/REST/V1/Messages.php
Owners: @the-events-calendar/engineers

Update Single_Organizer.php (#5359)
  src/Tribe/REST/V1/Endpoints/Single_Organizer.php
Owners: @the-events-calendar/engineers

Update Single_Venue.php (#5358)
  src/Tribe/REST/V1/Endpoints/Single_Venue.php
Owners: @the-events-calendar/engineers

Update venue.php (#5357)
  src/views/modules/meta/venue.php
Owners: @the-events-calendar/engineers

Update organizer.php (#5356)
  src/views/modules/meta/organizer.php
Owners: @the-events-calendar/engineers

Update organizer.php (#5355)
  src/views/blocks/parts/organizer.php
Owners: @the-events-calendar/engineers

Update import-form.php (#5348)
  src/admin-views/aggregator/tabs/import-form.php
Owners: @the-events-calendar/engineers

Update tribe-options-imports.php (#5347)
  src/admin-views/tribe-options-imports.php
Owners: @the-events-calendar/engineers

fix: Add changelog for text domain and translation improvements
  changelog/fix-translation-text-domains
Owners: @the-events-calendar/engineers

:symbols: Updating .pot file and add language changelog for ae1b699a23babe6106a447de4620a570c6ccf0c6
  changelog/task-i18n-ae1b699
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/T25.krypto This is an automated PR created by rafsuntaskin. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/18477880083
  changelog.md
  changelog/fix-TEC-5504
  changelog/fix-free-translation
  changelog/fix-list-view-tec-5210
  changelog/fix-tooltip-close-tec-5217
  changelog/fix-translation-text-domains
  changelog/tweak-TEC-5682_Avada_disable_css_combiner
  readme.txt
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/T25.krypto This is an automated PR created by rafsuntaskin. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/18478059153
  changelog.md
  changelog/fix-TEC-5504
  changelog/fix-free-translation
  changelog/fix-list-view-tec-5210
  changelog/fix-tooltip-close-tec-5217
  changelog/fix-translation-text-domains
  changelog/task-i18n-ae1b699
  changelog/tweak-TEC-5682_Avada_disable_css_combiner
  readme.txt
Owners: @the-events-calendar/engineers

Replace TBD entries with version 6.15.8
  src/Events/Integrations/Provider.php
  src/Events/Integrations/Themes/Avada/Provider.php
  src/Tribe/Cost_Utils.php
  src/resources/js/views/tooltip.js
Owners: @the-events-calendar/engineers, @bordoni

Version bump for release/T25.loki
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni
