Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

chore: replace TBDs
  src/Tribe/Aggregator/Records.php
  src/Tribe/Main.php
  src/Tribe/REST/V1/Endpoints/Term_Single_Base.php
  src/Tribe/Views/V2/Url.php
Owners: @the-events-calendar/engineers, @bordoni

:symbols: Updating .pot file and add language changelog for 00efd07bab100a83c299991b610c9420f1f0931e
  changelog/task-i18n-00efd07
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

tests: update start of AI to make snapshots less prone to error
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/__snapshots__/Archive_OrganizerTest__it_should_hide_password_protected_fields__0.snapshot.json
  tests/wpunit/_bootstrap.php
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/M26.dusknoir This is an automated PR created by dpanta94. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/24090431078
  changelog.md
  changelog/fix-SVUL-61-tec-authenticated-vul
  changelog/fix-SVUL-63-tec-author-can-import
  changelog/fix-SVUL-64
  changelog/task-i18n-00efd07
  changelog/tut-analyze
  readme.txt
Owners: @the-events-calendar/engineers

chore: improve changelog entry
  changelog.md
  readme.txt
Owners: @the-events-calendar/engineers

SCON-355: Rebrand to Liquid Web
  changelog/rebrand-to-liquid-web
  phpcs.xml
  readme.txt
  src/Events/Telemetry/Telemetry.php
  src/Tribe/Integrations/Manager.php
  src/deprecated/Tribe__Events__Integrations__Freemius.php
Owners: @the-events-calendar/engineers

Version bump for release/M26.feraligatr
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Version bump for release/M26.eevee
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Version bump for release/M26.feraligatr
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Update changelog with ticket number
  changelog/fix-rest-api-validation
Owners: @the-events-calendar/engineers

Address PHPCS comments
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Messages.php
  src/Tribe/Validator/Base.php
Owners: @the-events-calendar/engineers

Add changelog entry.
  changelog/fix-rest-api-validation
Owners: @the-events-calendar/engineers

Add specific error message for trashed events
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Messages.php
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/Single_EventTest.php
Owners: @the-events-calendar/engineers

Add @since TBD tags to modified get() methods
  src/Tribe/REST/V1/Endpoints/Archive_Event.php
  src/Tribe/REST/V1/Endpoints/Archive_Organizer.php
  src/Tribe/REST/V1/Endpoints/Archive_Venue.php
  src/Tribe/REST/V1/Endpoints/Term_Archive_Base.php
Owners: @the-events-calendar/engineers

Fix REST API validation for event ID parameters in archive endpoints
  src/Tribe/REST/V1/Endpoints/Archive_Event.php
  src/Tribe/REST/V1/Endpoints/Archive_Organizer.php
  src/Tribe/REST/V1/Endpoints/Archive_Venue.php
  src/Tribe/REST/V1/Endpoints/Term_Archive_Base.php
  tests/restv1/EventDeletionCest.php
  tests/restv1/EventUpdateCest.php
  tests/restv1/SingleEventCest.php
Owners: @the-events-calendar/engineers

Update REST API endpoint to provide better errors when an event is Perm Deleted, Trashed, Invalid ID. This is useful to Promoter issues we are having right now.
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Messages.php
  src/Tribe/Validator/Base.php
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/Single_EventTest.php
  tests/wpunit/Tribe/Events/Validator/BaseTest.php
Owners: @the-events-calendar/engineers

Update test name
  tests/restv1/EventDeletionCest.php
Owners: @the-events-calendar/engineers

Adjust permission checks to errors are properly handled
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  tests/restv1/EventDeletionCest.php
  tests/restv1/EventUpdateCest.php
Owners: @the-events-calendar/engineers

Replace TBD entries with version 6.15.20
  src/Events/SEO/Headers/Controller.php
  src/Tribe/Views/V2/Hooks.php
  src/Tribe/Views/V2/Query/Event_Query_Controller.php
  src/Tribe/Views/V2/View.php
  src/resources/js/views/manager.js
Owners: @the-events-calendar/engineers

:symbols: Updating .pot file and add language changelog for a86f0a5e2b2ce74809e32dd5bb0fe7b74807a8f9
  changelog/task-i18n-a86f0a5
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Update changelog with new Jira ID
  changelog/fix-ECP-2007-day-url-not-found
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/M26.eevee This is an automated PR created by sdokus. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/24145193246
  changelog.md
  changelog/fix-ECP-2007-day-url-not-found
  changelog/fix-TEC-5056-404-on-paged-results
  changelog/fix-TEC-5754-tec-pagination-on-past-events-generates-404
  changelog/task-i18n-a86f0a5
  readme.txt
Owners: @the-events-calendar/engineers

SCON-355: Revert changelog old-entry replacements
  readme.txt
Owners: @the-events-calendar/engineers

Code Review feedback
  src/Tribe/REST/V1/Endpoints/Archive_Base.php
  src/Tribe/REST/V1/Endpoints/Archive_Event.php
  src/Tribe/REST/V1/Endpoints/Archive_Organizer.php
  src/Tribe/REST/V1/Endpoints/Archive_Venue.php
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Endpoints/Term_Archive_Base.php
  src/Tribe/REST/V1/Messages.php
  src/Tribe/Validator/Base.php
  src/Tribe/Validator/Interface.php
  tests/restv1/SingleEventCest.php
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/Single_EventTest.php
  tests/wpunit/Tribe/Events/Validator/BaseTest.php
Owners: @the-events-calendar/engineers

SCON-355: Revert library/product name references
  src/Tribe/Integrations/Manager.php
  src/deprecated/Tribe__Events__Integrations__Freemius.php
Owners: @the-events-calendar/engineers

SCON-355: Fix PHPCS spacing issues in Telemetry.php
  src/Events/Telemetry/Telemetry.php
Owners: @the-events-calendar/engineers

Code Review feedback
  src/Tribe/REST/V1/Endpoints/Archive_Base.php
  src/Tribe/REST/V1/Endpoints/Archive_Event.php
  src/Tribe/REST/V1/Endpoints/Archive_Organizer.php
  src/Tribe/REST/V1/Endpoints/Archive_Venue.php
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Endpoints/Term_Archive_Base.php
  src/Tribe/REST/V1/Messages.php
  src/Tribe/Validator/Base.php
  src/Tribe/Validator/Interface.php
  tests/restv1/SingleEventCest.php
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/Single_EventTest.php
  tests/wpunit/Tribe/Events/Validator/BaseTest.php
Owners: @the-events-calendar/engineers

PHPCS tweaks
  src/Tribe/Validator/Base.php
  src/Tribe/Validator/Interface.php
Owners: @the-events-calendar/engineers

Small tweak
  src/Tribe/REST/V1/Endpoints/Single_Event.php
Owners: @the-events-calendar/engineers

fix: add domain in requests towards EA
  src/Tribe/Aggregator/Service.php
Owners: @the-events-calendar/engineers

Version bump for release/M26.feraligatr
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Version bump for release/M26.feraligatr
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Adjust future events carousel desktop layout
  src/Tribe/Main.php
  src/Tribe/Shortcode/Future_Events_Carousel.php
Owners: @bordoni, @the-events-calendar/engineers

SCON-355: Apply PR review feedback
  src/Events/Telemetry/Telemetry.php
Owners: @the-events-calendar/engineers

Revert "SCON-355: Apply PR review feedback"
  src/Events/Telemetry/Telemetry.php
Owners: @the-events-calendar/engineers

SCON-355: Apply PR review feedback - update telemetry text
  src/Events/Telemetry/Telemetry.php
Owners: @the-events-calendar/engineers

Guard editEntityRecord calls with getCurrentPostType() check to prevent crash in FSE site editor
  src/modules/blocks/event-venue/data/meta-sync.js
  src/modules/data/blocks/organizers/subscribers.js
  src/modules/data/blocks/subscribers.js
Owners: @the-events-calendar/engineers

Add/update tests for getCurrentPostType guard in FSE site editor
  src/modules/blocks/event-venue/data/__tests__/meta-sync.test.js
  src/modules/data/blocks/organizers/__tests__/subscribers.test.js
Owners: @the-events-calendar/engineers

Add changelog entry for FSE site editor fix
  changelog/2026-04-10-23-54-04-896929
Owners: @the-events-calendar/engineers

feat: EA harbor integration
  src/Tribe/Aggregator/Service.php
Owners: @the-events-calendar/engineers

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni
