Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni

test: add assertion to verify register_cron_schedules_filter is hooked to init
  tests/wpunit/Tribe/Events/Aggregator/CronTest.php
Owners: @the-events-calendar/engineers

refactor: extract shared guided-setup redirect guard and URL helpers
  src/Events/Admin/Onboarding/Controller.php
Owners: @the-events-calendar/engineers

feat: redirect to the guided setup wizard on a single-site activation
  changelog/feat-onboarding-activation-redirect
  src/Events/Admin/Onboarding/Controller.php
  tests/integration/TEC/Events/Admin/Onboarding/Controller_Activation_Redirect_Test.php
Owners: @the-events-calendar/engineers

fix: honor a dismissed setup screen in the guided-setup redirect
  changelog/fix-guided-setup-dismiss-redirect
  src/Events/Admin/Onboarding/Controller.php
  tests/integration/TEC/Events/Admin/Onboarding/Controller_Activation_Redirect_Test.php
Owners: @the-events-calendar/engineers

tweak: drop no-op activate-multi guard from the activation flag
  src/Tribe/Main.php
Owners: @bordoni

test: add on-visit guided-setup redirect coverage and fix option-cache isolation
  tests/integration/TEC/Events/Admin/Onboarding/Controller_Activation_Redirect_Test.php
  tests/integration/TEC/Events/Admin/Onboarding/Controller_Guided_Setup_Redirect_Test.php
Owners: @the-events-calendar/engineers

tweak: reword the dismiss-fix changelog entry
  changelog/fix-guided-setup-dismiss-redirect
Owners: @the-events-calendar/engineers

[SMTNC-231] fix: Add support for deduplicating recurring event occurrences
  src/Events/Custom_Tables/V1/WP_Query/Custom_Tables_Query.php
  src/Events/Custom_Tables/V1/WP_Query/Repository/Custom_Tables_Query_Filters.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/Custom_Tables_QueryTest.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/Repository/Custom_Tables_Query_FiltersTest.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set ID__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set REST API like query__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set SQL injection on order and order by__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set SQL injection on order by__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set SQL injection on order__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by ASC__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by DESC__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by _EventEndDate meta_value__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by _EventEndDateUTC meta_value__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by _EventStartDate meta_value__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by _EventStartDateUTC meta_value__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by invalid order type__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by nested ASC__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by nested DESC__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by nested invalid order type__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set event_date__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set event_date_utc__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set event_duration__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set no orderby specified__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set relevance__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set wp_posts.ID__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_not_run_found_rows_query_twice_per_single_query__1.php
  tests/ct1_integration/__snapshots__/Tribe__Events__Query_CT1_Test__should_filter_and_order_an_event_query__1.php
  tests/ct1_integration/__snapshots__/Tribe__Events__Query_CT1_Test__should_filter_and_order_main_events_query__1.php
Owners: @the-events-calendar/engineers

docs: added changelog
  changelog/fix-smtnc-231-tec-recurring-events-show-duplicatedincorrect-entries-when
Owners: @the-events-calendar/engineers

Add an Activate license button to guided setup
  changelog/feat-smtnc-1833-onboarding-activate-license-button
  src/Events/Admin/Onboarding/Landing_Page.php
  src/resources/packages/wizard/components/buttons/activate.tsx
  src/resources/packages/wizard/components/tabs/welcome/tab.tsx
  src/resources/packages/wizard/index.css
Owners: @the-events-calendar/engineers

tweak: read the bulk-activation flag via tec_get_request_var
  src/Events/Admin/Onboarding/Controller.php
Owners: @the-events-calendar/engineers

Add a license activation step to the Setup Guide
  changelog/feat-smtnc-1833-onboarding-activate-license-button
  src/Events/Admin/Onboarding/Landing_Page.php
  tests/integration/TEC/Events/Admin/Onboarding/Landing_Page_License_Step_Test.php
Owners: @the-events-calendar/engineers

Align the double arrows in the license step's class array
  src/Events/Admin/Onboarding/Landing_Page.php
Owners: @the-events-calendar/engineers

Send the license step's links off-site properly
  changelog/feat-smtnc-1833-onboarding-activate-license-button
  src/Events/Admin/Onboarding/Landing_Page.php
  tests/integration/TEC/Events/Admin/Onboarding/Landing_Page_License_Step_Test.php
Owners: @the-events-calendar/engineers

Move the onboarding licensing logic into a License_Data service
  src/Events/Admin/Onboarding/Landing_Page.php
  src/Events/Admin/Onboarding/License_Data.php
  tests/integration/TEC/Events/Admin/Onboarding/Landing_Page_License_Step_Test.php
Owners: @the-events-calendar/engineers

tweak: keep the activation flag when the user cannot see the setup page
  src/Events/Admin/Onboarding/Controller.php
  tests/integration/TEC/Events/Admin/Onboarding/Controller_Activation_Redirect_Test.php
Owners: @the-events-calendar/engineers

Register License_Data on the onboarding container
  src/Events/Admin/Onboarding/Controller.php
Owners: @the-events-calendar/engineers

Migrate changelog tooling to @stellarwp/changelogger
  .github/workflows/changelogger.yml
  .github/workflows/release-process-changelog.yml
  .github/workflows/release-sync-translations.yml
  bin/ModifiedSemverVersioning.php
  bin/check-changelog.sh
  bin/class-tec-changelog-formatter.php
  bin/process-changelog.sh
  bin/tec-changelog-versioning.js
  changelog/chore-npm-changelogger-migration.yaml
  composer.json
  package-lock.json
  package.json
Owners: @the-events-calendar/engineers

Version bump for release/M26.lanturn
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Build activation URLs through Harbor's global functions
  src/Events/Admin/Onboarding/Landing_Page.php
  src/Events/Admin/Onboarding/License_Data.php
  tests/integration/TEC/Events/Admin/Onboarding/Landing_Page_License_Step_Test.php
Owners: @the-events-calendar/engineers

Drop feat changelog type - duplicates built-in feature type
  package.json
Owners: @the-events-calendar/engineers

Trim changelogger types config to only custom overrides
  package.json
Owners: @the-events-calendar/engineers

Drop unnecessary npm ci before npx changelogger calls
  .github/workflows/changelogger.yml
  .github/workflows/release-process-changelog.yml
Owners: @the-events-calendar/engineers

🔄 synced local '.github/workflows/release-merge-forward.yml' with remote 'templates/workflows/release-merge-forward.yml'
  .github/workflows/release-merge-forward.yml
Owners: @the-events-calendar/engineers

🔄 synced local 'bin/check-changelog.sh' with remote 'templates/bin/check-changelog.sh'
  bin/check-changelog.sh
Owners: @the-events-calendar/engineers

🔄 synced local '.eslintignore' with remote 'templates/.eslintignore'
  .eslintignore
Owners: @the-events-calendar/engineers

🔄 created local '.github/workflows/lint.yml' from remote 'templates/workflows/lint.yml'
  .github/workflows/lint.yml
Owners: @the-events-calendar/engineers

🔄 synced local 'bin/process-changelog.sh' with remote 'templates/bin/process-changelog.sh'
  bin/process-changelog.sh
Owners: @the-events-calendar/engineers

🔄 synced local '.github/workflows/phpcs.yml' with remote 'templates/workflows/phpcs.yml'
  .github/workflows/phpcs.yml
Owners: @the-events-calendar/engineers

🔄 synced local '.github/workflows/release-update-wp-version.yml' with remote 'templates/workflows/release-update-wp-version.yml'
  .github/workflows/release-update-wp-version.yml
Owners: @the-events-calendar/engineers

Gate the license UI behind an active premium plugin
  src/Events/Admin/Onboarding/Landing_Page.php
  src/Events/Admin/Onboarding/License_Data.php
  tests/integration/TEC/Events/Admin/Onboarding/Landing_Page_License_Step_Test.php
Owners: @the-events-calendar/engineers

Follow Harbor's activation URL function rename
  src/Events/Admin/Onboarding/License_Data.php
  tests/integration/TEC/Events/Admin/Onboarding/Landing_Page_License_Step_Test.php
Owners: @the-events-calendar/engineers

Handle Harbor's null activation URL
  src/Events/Admin/Onboarding/License_Data.php
Owners: @the-events-calendar/engineers

chore: add changelog entry for Harbor 1.6.0
  changelog/tweak-update-harbor-1.6.0
Owners: @the-events-calendar/engineers

Fixed single event template saves creating a new template
  changelog/smtnc-1857-fse-single-event-template-saves-create-single-event-n.yaml
  src/Events/Block_Templates/Archive_Events/Archive_Block_Template.php
  src/Events/Block_Templates/Single_Event/Single_Block_Template.php
  src/Events/Block_Templates/With_Canonical_Block_Template.php
  tests/wpunit/TEC/Events/Block_Templates/Single_Block_TemplateTest.php
Owners: @the-events-calendar/engineers

Fixing tests and phpcs
  src/Events/Block_Templates/With_Canonical_Block_Template.php
  tests/wpunit/TEC/Events/Block_Templates/Single_Block_TemplateTest.php
Owners: @the-events-calendar/engineers

Update changelog/tweak-update-harbor-1.6.0
  changelog/tweak-update-harbor-1.6.0
Owners: @the-events-calendar/engineers

Simplified commit message
  changelog/feat-smtnc-1833-onboarding-activate-license-button
Owners: @the-events-calendar/engineers

Fixing single event template save
  src/Events/Block_Templates/Controller.php
  tests/wpunit/TEC/Events/Block_Templates/Single_Block_TemplateTest.php
Owners: @the-events-calendar/engineers

Updating changelog
  changelog/chore-bump-harbor-1-6-0.yaml
  changelog/tweak-update-harbor-1.6.0
Owners: @the-events-calendar/engineers
