Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

Fix `no-unused-expressions` rule.
  .eslintrc.js
  src/resources/js/events-admin.js
  src/resources/js/events-dynamic.js
  src/resources/js/views/datepicker.js
Owners: @the-events-calendar/engineers

Fix `no-bitwise` rule.
  src/resources/js/customizer-views-v2-live-preview.js
Owners: @the-events-calendar/engineers

Fix `no-shadow` rule.
  .eslintrc.js
  src/resources/js/events-admin.js
Owners: @the-events-calendar/engineers

Add tests and change inline imports
  src/Tribe/Views/V2/Hooks.php
  tests/views_wpunit/Tribe/Events/Views/V2/Template_BootstrapTest.php
  tests/views_wpunit/Tribe/Events/Views/V2/__snapshots__/Template_BootstrapTest__test_main_landmark_no_double_wrap_snapshot__1.php
  tests/views_wpunit/Tribe/Events/Views/V2/__snapshots__/Template_BootstrapTest__test_main_landmark_wrapper_snapshot_custom_id__1.php
  tests/views_wpunit/Tribe/Events/Views/V2/__snapshots__/Template_BootstrapTest__test_main_landmark_wrapper_snapshot_default_id__1.php
Owners: @the-events-calendar/engineers

Fix `prefer-const` rule.
  .eslintrc.js
  src/resources/js/events-admin.js
Owners: @the-events-calendar/engineers

Fix `react-hooks/rules-of-hooks` rule.
  .eslintrc.js
  src/resources/js/embedded-map.js
Owners: @the-events-calendar/engineers

Remove extra space
  src/Tribe/Views/V2/Hooks.php
Owners: @the-events-calendar/engineers

Fix `no-unused-vars-before-return` rule.
  .eslintrc.js
  src/resources/js/tribe-settings.js
  src/resources/js/views/datepicker.js
  src/resources/js/views/ical-links.js
  src/resources/js/views/manager.js
Owners: @the-events-calendar/engineers

Working on removing other constraints.
  .eslintrc.js
Owners: @the-events-calendar/engineers

Make method signatures in Builder explicitly nullable to resolve PHP 8.4 deprecation warnings.
  changelog/task-Builder_php8.4_compat
  src/Events/Custom_Tables/V1/Models/Builder.php
Owners: @the-events-calendar/engineers

Fix wrongly updated logic.
  src/Events/Custom_Tables/V1/Models/Builder.php
Owners: @the-events-calendar/engineers

Update src/Events/Custom_Tables/V1/Models/Builder.php
  src/Events/Custom_Tables/V1/Models/Builder.php
Owners: @the-events-calendar/engineers

Add ticket to changelog.
  changelog/task-Builder_php8.4_compat
Owners: @the-events-calendar/engineers

Fix Docblocks, spacing, descriptions.
  .eslintrc.js
  src/resources/js/event-editor.js
  src/resources/js/events-admin-timezone-updater.js
  src/resources/js/events-admin.js
  src/resources/js/events-dynamic.js
  src/resources/js/views/accordion.js
  src/resources/js/views/breakpoints.js
  src/resources/js/views/datepicker.js
  src/resources/js/views/events-bar-inputs.js
  src/resources/js/views/events-bar.js
  src/resources/js/views/ical-links.js
  src/resources/js/views/manager.js
  src/resources/js/views/month-grid.js
  src/resources/js/views/month-mobile-events.js
  src/resources/js/views/multiday-events.js
  src/resources/js/views/navigation-scroll.js
  src/resources/js/views/tooltip.js
  src/resources/js/views/view-selector.js
  src/resources/js/views/viewport.js
  src/resources/js/yoastseo-events-replacevars.js
Owners: @the-events-calendar/engineers

Fixing issues in the resources/packages/* directory.
  .eslintrc.js
  src/resources/js/custom-tables-v1/ct1-upgrade.js
  src/resources/js/tec-update-6.0.0-notice.js
  src/resources/packages/wizard/components/buttons/exit.tsx
  src/resources/packages/wizard/components/buttons/next.tsx
  src/resources/packages/wizard/components/buttons/skip.tsx
  src/resources/packages/wizard/components/tabs/display/inputs/view-checkbox.tsx
  src/resources/packages/wizard/components/tabs/display/tab.tsx
  src/resources/packages/wizard/components/tabs/organizer/tab.tsx
  src/resources/packages/wizard/components/tabs/settings/tab.tsx
  src/resources/packages/wizard/components/tabs/tickets/tab.tsx
  src/resources/packages/wizard/components/tabs/venue/tab.tsx
  src/resources/packages/wizard/components/tabs/welcome/tab.tsx
  src/resources/packages/wizard/data/settings/actions.ts
  src/resources/packages/wizard/data/settings/reducer.ts
  src/resources/packages/wizard/index.tsx
Owners: @the-events-calendar/engineers

Fix spacing.
  src/resources/js/tec-update-6.0.0-notice.js
Owners: @the-events-calendar/engineers

Cleanup eslintrc file.
  .eslintrc.js
Owners: @the-events-calendar/engineers

Remove duplicate logic
  src/Tribe/Views/V2/Template/Page.php
Owners: @the-events-calendar/engineers

chore(Main.php) rm comment added to trigger PHP tests
  src/Tribe/Main.php
Owners: @bordoni

fix phpcs
  src/Events/Custom_Tables/V1/WP_Query/Repository/Custom_Tables_Query_Filters.php
Owners: @the-events-calendar/engineers

Fix phpcs
  src/Events/Custom_Tables/V1/WP_Query/Repository/Custom_Tables_Query_Filters.php
Owners: @the-events-calendar/engineers

Cover with tests
  src/Events/Custom_Tables/V1/WP_Query/Custom_Tables_Meta_Query.php
  src/Events/Custom_Tables/V1/WP_Query/Custom_Tables_Query.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/Custom_Tables_QueryTest.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_not_select_occurrence_ids_but_select_post_ids__1.php
Owners: @the-events-calendar/engineers

added changelog
  changelog/feat-allow-for-skipping-occurences-join
Owners: @the-events-calendar/engineers

Fix phpcs
  src/Events/Custom_Tables/V1/WP_Query/Custom_Tables_Meta_Query.php
Owners: @the-events-calendar/engineers

fix: category colors in list view leaking to other events
  src/Events/Category_Colors/Controller.php
Owners: @the-events-calendar/engineers

add changelog
  changelog/cat-color-list-leak
Owners: @the-events-calendar/engineers

Version bump for release/T25.namor
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Prevent category data from persisting between events when some have colored categories and others do not.
  changelog/fix-TEC-5727_category_color_leakage
  src/Events/Category_Colors/Controller.php
  src/Events/Category_Colors/Repositories/Category_Color_Priority_Category_Provider.php
  tests/integration_category_colors/Frontend/Category_Color_Priority_Provider_Test.php
Owners: @the-events-calendar/engineers

major version upgrade
  the-events-calendar.php
Owners: @bordoni

Reorder event markup in archive and widget views so event titles precede their date and time for improved screen reader navigation.
  changelog/tweak-TEC-5621_change_content_order
  src/resources/postcss/views/skeleton/day/_event.pcss
  src/resources/postcss/views/skeleton/list/_event.pcss
  src/views/v2/day/event.php
  src/views/v2/list/event.php
Owners: @the-events-calendar/engineers

added changelog
  changelog/bucket-purchasing-rules
Owners: @the-events-calendar/engineers

Update dependencies
  package-lock.json
  src/Tribe/Main.php
  src/Tribe/Plugin_Register.php
Owners: @the-events-calendar/engineers, @bordoni

Replace TBD entries with version 6.15.12
  src/Events/Custom_Tables/V1/Models/Builder.php
  src/Events/REST/TEC/V1/Endpoints/Event.php
  src/Events/REST/TEC/V1/Endpoints/Events.php
  src/Events/REST/TEC/V1/Endpoints/Organizer.php
  src/Events/REST/TEC/V1/Endpoints/Organizers.php
  src/Events/REST/TEC/V1/Endpoints/Venue.php
  src/Events/REST/TEC/V1/Endpoints/Venues.php
  src/Events/REST/TEC/V1/Traits/With_Events_ORM.php
  src/Events/REST/TEC/V1/Traits/With_Organizers_ORM.php
  src/Events/REST/TEC/V1/Traits/With_Venues_ORM.php
  src/Tribe/Views/V2/Hooks.php
  src/Tribe/Views/V2/Template/Page.php
  src/Tribe/Views/V2/Template_Bootstrap.php
  src/resources/js/views/manager.js
  src/views/v2/components/content-title.php
  src/views/v2/day/time-separator.php
  src/views/v2/list/event/title.php
  src/views/v2/list/month-separator.php
Owners: @the-events-calendar/engineers

:symbols: Updating .pot file and add language changelog for d34a43ad05b01aa1a58c566e7b15b223b846da06
  changelog/task-i18n-d34a43a
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/T25.moonknight This is an automated PR created by dpanta94. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/19442764109
  changelog.md
  changelog/bucket-purchasing-rules
  changelog/fix-TEC-5628-fix-broken-skip-links
  changelog/fix-admin-scripts
  changelog/task-Builder_php8.4_compat
  changelog/task-i18n-d34a43a
  changelog/tweak-TEC-5627_day_view_heading
  changelog/tweak-TEC-5630_mini_calendar_icon_a11y
  changelog/tweak-TEC-5636-accessible-headings
  readme.txt
Owners: @the-events-calendar/engineers

Change focus order to match visual order for datepicker and buttons
  changelog/fix-TEC-5156-fix-focus-order-of-buttons-and-datepicker
  src/resources/postcss/views/skeleton/_header.pcss
  src/views/v2/components/header.php
Owners: @the-events-calendar/engineers

Update changelog entries
  changelog.md
  readme.txt
Owners: @the-events-calendar/engineers

Update tested up to header
  readme.txt
Owners: @the-events-calendar/engineers

Update changelog entries
  changelog.md
  readme.txt
Owners: @the-events-calendar/engineers

Update snapshots
  tests/_support/_generated/IntegrationTesterActions.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
Owners: @the-events-calendar/engineers

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni
