Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

Adapt to removal of tribe-common from settings page classes.
  src/resources/postcss/events-admin.pcss
Owners: @the-events-calendar/engineers

Fix mangled media queries in events-admin.pcss.
  src/resources/postcss/events-admin.pcss
Owners: @the-events-calendar/engineers

Remove padding from dropdown
  src/resources/packages/wizard/index.css
Owners: @the-events-calendar/engineers

Remove shadow box
  src/resources/packages/wizard/index.css
Owners: @the-events-calendar/engineers

Correctly remove the shadow box from the input
  src/resources/packages/wizard/index.css
Owners: @the-events-calendar/engineers

Remove unneeded CSS
  src/resources/packages/wizard/index.css
Owners: @the-events-calendar/engineers

Move box shadow back to correct order
  src/resources/packages/wizard/index.css
Owners: @the-events-calendar/engineers

Remove parseInt causing console errors
  src/resources/packages/wizard/components/tabs/settings/tab.tsx
Owners: @the-events-calendar/engineers

DQA on some admin styling.
  src/resources/packages/wizard/index.css
  src/resources/postcss/events-admin.pcss
Owners: @the-events-calendar/engineers

🔄 synced local '.github/workflows/release-prepare-branch.yml' with remote 'templates/workflows/release-prepare-branch.yml'
  .github/workflows/release-prepare-branch.yml
Owners: @the-events-calendar/engineers

🔄 created local '.github/workflows/release-update-wp-version.yml' from remote 'templates/workflows/release-update-wp-version.yml'
  .github/workflows/release-update-wp-version.yml
Owners: @the-events-calendar/engineers

🔄 synced local '.github/workflows/release-replace-tbd-entries.yml' with remote 'templates/workflows/release-replace-tbd-entries.yml'
  .github/workflows/release-replace-tbd-entries.yml
Owners: @the-events-calendar/engineers

🔄 synced local '.github/workflows/lint.yml' with remote 'templates/workflows/lint.yml'
  .github/workflows/lint.yml
Owners: @the-events-calendar/engineers

🔄 created local '.github/workflows/skip-flags-parser.yml' from remote 'templates/workflows/skip-flags-parser.yml'
  .github/workflows/skip-flags-parser.yml
Owners: @the-events-calendar/engineers

🔄 synced local '.github/workflows/phpcs.yml' with remote 'templates/workflows/phpcs.yml'
  .github/workflows/phpcs.yml
Owners: @the-events-calendar/engineers

🔄 synced local '.eslintignore' with remote 'templates/.eslintignore'
  .eslintignore
Owners: @the-events-calendar/engineers

🔄 synced local '.github/pull_request_template.md' with remote 'templates/pull_request_template.md'
  .github/pull_request_template.md
Owners: @the-events-calendar/engineers

🔄 synced local '.github/workflows/release-process-changelog.yml' with remote 'templates/workflows/release-process-changelog.yml'
  .github/workflows/release-process-changelog.yml
Owners: @the-events-calendar/engineers

🔄 synced local '.github/workflows/changelogger.yml' with remote 'templates/workflows/changelogger.yml'
  .github/workflows/changelogger.yml
Owners: @the-events-calendar/engineers

🔄 synced local 'bin/process-changelog.sh' with remote 'templates/bin/process-changelog.sh'
  bin/process-changelog.sh
Owners: @the-events-calendar/engineers

🔄 created local 'bin/trim-readme-changelog.sh' from remote 'templates/bin/trim-readme-changelog.sh'
  bin/trim-readme-changelog.sh
Owners: @the-events-calendar/engineers

🔄 created local '.github/workflows/main-release.yml' from remote 'templates/workflows/main-release.yml'
  .github/workflows/main-release.yml
Owners: @the-events-calendar/engineers

Update import location for CurrencyPosition
  src/resources/packages/classy/fields/EventCost/EventCost.tsx
Owners: @the-events-calendar/engineers

Version bump for release/T25.ironman
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Apply suggestions from code review
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Ensure the event ID passed is an *event* ID (or false).
  src/functions/template-tags/link.php
Owners: @the-events-calendar/engineers

Combine two loops into one in Events_Only_Modifier.
  src/Events/Custom_Tables/V1/WP_Query/Modifiers/Events_Only_Modifier.php
Owners: @the-events-calendar/engineers

Instead of relying on getting a hydrated event object, ensure we query for the event start date meta if it's not present. [ECP-1952]
  src/Tribe/Adjacent_Events.php
Owners: @bordoni

hphcs fix
  src/Events/Custom_Tables/V1/WP_Query/Modifiers/Events_Only_Modifier.php
Owners: @the-events-calendar/engineers

feat: Add changelog trimming functionality for testing and validation
  bin/process-changelog.sh
  bin/trim-readme-changelog.sh
Owners: @the-events-calendar/engineers

Fix: Ensure changelog link is always present
  bin/trim-readme-changelog.sh
Owners: @the-events-calendar/engineers

Version bump for testing.
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

add test changelog entry
  changelog/feat-changelog-trim
Owners: @the-events-calendar/engineers

Fix slug generation for venues and organizers when publishing events, ensuring unique slugs and fallbacks are created if missing.
  src/Tribe/Main.php
  tests/wpunit/Tribe/Events/Linked_Posts/Publish_AssociatedTest.php
Owners: @bordoni, @the-events-calendar/engineers

fixed default previous state
  src/resources/packages/classy/fields/EventDateTime/EventDateTime.tsx
Owners: @the-events-calendar/engineers

don't update with allday
  src/resources/packages/classy/fields/EventDateTime/EventDateTime.tsx
Owners: @the-events-calendar/engineers

Version Checks, Analyze
  changelog/tut-analyze
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Replace TBD entries with version 6.15.2
  src/Tribe/Admin/Timezone_Updater.php
Owners: @the-events-calendar/engineers

:symbols: Updating .pot file and add language changelog for 2a90fcdc3213c462eec6e81a82d9588d57fc72aa
  changelog/task-i18n-2a90fcd
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

update with sycned values
  src/resources/packages/classy/fields/EventDateTime/EventDateTime.tsx
Owners: @the-events-calendar/engineers

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni
