Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

Update src/admin-views/settings/tabs/display/display-currency.php
  src/admin-views/settings/tabs/display/display-currency.php
Owners: @the-events-calendar/engineers

remove unused trait
  tests/classy_integration/Legacy_Blocks/Controller_Test.php
Owners: @the-events-calendar/engineers

Added `@before` to reset test state from leaking.
  tests/views_wpunit/Tribe/Events/Views/V2/HooksTest.php
Owners: @the-events-calendar/engineers

Add changelog entry.
  changelog/fix-TEC-5609_ics_redirection
Owners: @the-events-calendar/engineers

Import `Tribe__Events__Main`
  tests/views_wpunit/Tribe/Events/Views/V2/HooksTest.php
Owners: @the-events-calendar/engineers

remove blocking condition
  src/Events/Integrations/Plugins/Elementor/Widgets/Event_Venue.php
Owners: @the-events-calendar/engineers

Conditionally remove and switch from Default Page Template if Elementor Pro is active
  changelog/fix-TEC-5610-elementor-template-management
  src/Events/Integrations/Plugins/Elementor/Controller.php
  src/admin-views/settings/tabs/display/display-calendar.php
Owners: @the-events-calendar/engineers

Interim commit for tests.
  src/Events/Request/Controller.php
  src/Events/Request/Ical.php
Owners: @the-events-calendar/engineers

Add Ical query var implementation and controller consistency
  src/Events/Request/Controller.php
  src/Events/Request/Ical.php
Owners: @the-events-calendar/engineers

fix map style condition
  src/Events/Integrations/Plugins/Elementor/Widgets/Event_Venue.php
Owners: @the-events-calendar/engineers

format
  src/Events/Integrations/Plugins/Elementor/Widgets/Event_Venue.php
Owners: @the-events-calendar/engineers

tests - add venue widget controls validation
  tests/elementor_integration/Widgets/Controls/Events_VenueTest.php
Owners: @the-events-calendar/engineers

Add tests
  tests/elementor_integration/ControllerTest.php
Owners: @the-events-calendar/engineers

Tweak test name
  tests/elementor_integration/Template/ControllerTest.php
Owners: @the-events-calendar/engineers

add change log
  changelog/fix-missing-map-option-TEC-5092
Owners: @the-events-calendar/engineers

Add a time range when setting up time zones
  src/Tribe/iCal.php
Owners: @bordoni

Add a filter for the range
  src/Tribe/iCal.php
Owners: @bordoni

Add changelog
  changelog/fix-TEC-5061-fix-timezone-definition
Owners: @the-events-calendar/engineers

Adjust default range to 1
  src/Tribe/iCal.php
Owners: @bordoni

🔄 synced local '.github/workflows/release-sync-translations.yml' with remote 'templates/workflows/release-sync-translations.yml'
  .github/workflows/release-sync-translations.yml
Owners: @the-events-calendar/engineers

🔄 synced local '.github/workflows/phpcs.yml' with remote 'templates/workflows/phpcs.yml'
  .github/workflows/phpcs.yml
Owners: @the-events-calendar/engineers

🔄 synced local '.github/workflows/release-process-changelog.yml' with remote 'templates/workflows/release-process-changelog.yml'
  .github/workflows/release-process-changelog.yml
Owners: @the-events-calendar/engineers

🔄 created local '.github/workflows/release-update-wp-version.yml' from remote 'templates/workflows/release-update-wp-version.yml'
  .github/workflows/release-update-wp-version.yml
Owners: @the-events-calendar/engineers

🔄 synced local '.eslintignore' with remote 'templates/.eslintignore'
  .eslintignore
Owners: @the-events-calendar/engineers

Update tests and move logic to integration with filter
  src/Events/Integrations/Plugins/Elementor/Controller.php
  src/admin-views/settings/tabs/display/display-calendar.php
  tests/elementor_integration/ControllerTest.php
  tests/elementor_integration/Template/ControllerTest.php
Owners: @the-events-calendar/engineers

PR Tweaks.
  src/Tribe/Views/V2/Hooks.php
  src/Tribe/iCal.php
  tests/views_wpunit/Tribe/Events/Views/V2/HooksTest.php
Owners: @the-events-calendar/engineers, @bordoni

PR Tweaks.
  tests/views_wpunit/Tribe/Events/Views/V2/HooksTest.php
Owners: @the-events-calendar/engineers

PR Tweaks.
  tests/views_wpunit/Tribe/Events/Views/V2/HooksTest.php
Owners: @the-events-calendar/engineers

Suggested changes
  src/Events/Integrations/Plugins/Elementor/Controller.php
  src/admin-views/settings/tabs/display/display-calendar.php
Owners: @the-events-calendar/engineers

Update snapshots
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/Calendar_Body/__snapshots__/DayTest__test_render_with_context__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
Owners: @the-events-calendar/engineers

Update snapshots
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags and cats__0.snapshot.html
Owners: @the-events-calendar/engineers

Changelog and adjust date formatting
  changelog/fix-TEC-5214-add-meaning-to-link-text
  src/views/v2/month/calendar-body/day/cell-title.php
Owners: @the-events-calendar/engineers

Add aria-label to day links in week view
  changelog/fix-TEC-5214-add-meaning-to-link-text
Owners: @the-events-calendar/engineers

Version bump for release/T25.jubilee
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

fix date label issue
  src/views/v2/month/calendar-body/day/cell-title.php
  tests/_support/_generated/IntegrationTesterActions.php
Owners: @the-events-calendar/engineers

update snapshot again
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/Calendar_Body/__snapshots__/DayTest__test_render_with_context__1.php
Owners: @the-events-calendar/engineers

PHPCS corrections and snapshot update
  src/views/v2/month/calendar-body/day/cell.php
  src/views/v2/month/calendar-body/day/more-events.php
  src/views/v2/month/mobile-events/mobile-day.php
  src/views/v2/month/mobile-events/mobile-day/more-events.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/Calendar_Body/__snapshots__/DayTest__test_render_with_context__1.php
Owners: @the-events-calendar/engineers

Update tests and snapshots
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/Calendar_Body/Day/__snapshots__/More_EventsTest__test_render_with_more_events_with_more_url__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/Mobile_Events/Mobile_Day/__snapshots__/More_EventsTest__test_render_with_context__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/Mobile_Events/Mobile_DayTest.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/Mobile_EventsTest.php
Owners: @the-events-calendar/engineers

Update tests for new variable
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/Calendar_Body/Day/More_EventsTest.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/Mobile_Events/Mobile_Day/More_EventsTest.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/Mobile_Events/Mobile_DayTest.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/Mobile_EventsTest.php
Owners: @the-events-calendar/engineers

Add aria-label to view more events link in month view
  changelog/fix-TEC-5216-add-screen-reader-to-more-events
  src/views/v2/month/calendar-body/day/cell.php
  src/views/v2/month/calendar-body/day/more-events.php
  src/views/v2/month/mobile-events/mobile-day.php
  src/views/v2/month/mobile-events/mobile-day/more-events.php
Owners: @the-events-calendar/engineers

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni
