Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

Properly escape time.
  src/views/v2/day/event/date.php
Owners: @the-events-calendar/engineers

Time is already escaped upstream.
  src/views/v2/day/event/date.php
Owners: @the-events-calendar/engineers

Update WP to 6.8 to work with WP-SEO.
  .github/workflows/tests-php.yml
Owners: @the-events-calendar/engineers

Update WP to 6.8 to work with WP-SEO.
  .github/workflows/tests-php-seo-plugin.yml
Owners: @the-events-calendar/engineers

Switch to WP 6.9
  .github/workflows/tests-php-seo-plugin.yml
Owners: @the-events-calendar/engineers

Update WP versions.
  .github/workflows/tests-integrations.yml
  .github/workflows/tests-php-seo-plugin.yml
Owners: @the-events-calendar/engineers

Improve mini calendar accessibility by adding non-color indicators for past, current, and upcoming days
  changelog/tweak-TEC-5735_mini_calendar
  src/views/v2/month/calendar-body/day/date.php
Owners: @the-events-calendar/engineers

Update snapshots.
  .github/workflows/tests-php-seo-plugin.yml
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags and cats__0.snapshot.html
  tests/integration_category_colors/Frontend/Views/V2/Partials/Components/__snapshots__/Category_Color_Month_ViewTest__test_render_with_event_month_view__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/Calendar_Body/__snapshots__/DayTest__test_render_with_context__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/__snapshots__/Calendar_BodyTest__test_static_render__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/__snapshots__/Calendar_BodyTest__test_static_render_past__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
Owners: @the-events-calendar/engineers

Update WP to 6.8 to work with WP-SEO.
  .github/workflows/tests-php.yml
Owners: @the-events-calendar/engineers

Updatge tests-php-seo-plugin.yml to use WP 6.9.
  .github/workflows/tests-php-seo-plugin.yml
Owners: @the-events-calendar/engineers

Update tests-php-seo-plugin.yml to use WP 6.9.
  .github/workflows/tests-php-seo-plugin.yml
Owners: @the-events-calendar/engineers

TEC-5193: Correct focus order
  src/resources/js/views/manager.js
Owners: @the-events-calendar/engineers

TEC-5193: Fix focus when page end
  src/resources/js/views/manager.js
Owners: @the-events-calendar/engineers

TEC-5193: Removed debugging code
  src/resources/js/views/manager.js
Owners: @the-events-calendar/engineers

TEC-5193: Updated changelog
  changelog/base-TEC-5193-fix-incorrect-focus-order
Owners: @the-events-calendar/engineers

Add back removed code.
  src/views/v2/month/calendar-body/day/date.php
Owners: @the-events-calendar/engineers

Move the content-title to be higher up in the template so day view shows properly.
  changelog/tweak-TEC-5733_day_view_heading_order
  src/Tribe/Views/V2/View.php
  src/Tribe/Views/V2/Views/Day_View.php
  src/views/v2/components/content-title.php
  src/views/v2/components/header.php
Owners: @the-events-calendar/engineers

Update snapshots.
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_content_title_filter__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set div tag falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set empty string falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h0 falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with HTML tags__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with XSS attempt__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with extra text falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with space falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with special characters__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h2 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h3 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h4 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h5 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h6 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h7 falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set number only falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set p tag falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set span tag falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set uppercase H1 falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Day View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set List View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Month View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/__snapshots__/ExtendingViewTest__should_render_the_default_view_if_view_not_found__1.php
Owners: @the-events-calendar/engineers

Update snapshots.
  tests/views_widgets/Tribe/Events/Views/V2/Widgets/__snapshots__/Widget_ListTest__test_render_empty__1.php
  tests/views_widgets/Tribe/Events/Views/V2/Widgets/__snapshots__/Widget_ListTest__test_render_json_with_upcoming_events__1.php
  tests/views_widgets/Tribe/Events/Views/V2/Widgets/__snapshots__/Widget_ListTest__test_render_no_json_with_upcoming_events__1.php
  tests/views_widgets/Tribe/Events/Views/V2/Widgets/__snapshots__/Widget_ListTest__test_render_with_featured_upcoming_events__1.php
  tests/views_widgets/Tribe/Events/Views/V2/Widgets/__snapshots__/Widget_ListTest__test_render_with_upcoming_events__1.php
Owners: @the-events-calendar/engineers

Update snapshots.
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags and cats__0.snapshot.html
Owners: @the-events-calendar/engineers

Fix incorrect test & snapshots.
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/Content_TitleTest.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_content_title_filter__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set div tag falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set empty string falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h0 falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with HTML tags__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with XSS attempt__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with extra text falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with space falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with special characters__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h2 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h3 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h4 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h5 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h6 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h7 falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set number only falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set p tag falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set span tag falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set uppercase H1 falls back to h1__1.php
Owners: @the-events-calendar/engineers

Custom SEO titles set in Yoast SEO for Event Categories and Event Tags are now correctly applied to both the page `<title>` tag and `og:title` meta tag.
  changelog/tweak-TEC-4952_yoast_category_title
  src/Events/Integrations/Plugins/WordPress_SEO/Events_Variables.php
  tests/integrations_plugin_wordpress_seo/Events/Integrations/Plugins/WordPress_SEO/Events_VariablesTest.php
Owners: @the-events-calendar/engineers

Add file specifically for Title work. Was able to get it working.
  src/Events/Integrations/Plugins/WordPress_SEO/Events_Title.php
  src/Events/Integrations/Plugins/WordPress_SEO/Provider.php
Owners: @the-events-calendar/engineers

Event Variables and title are working properly.
  src/Events/Integrations/Plugins/WordPress_SEO/Events_Title.php
  src/Events/Integrations/Plugins/WordPress_SEO/Events_Variables.php
Owners: @the-events-calendar/engineers

Added tests to confirm data worked properly.
  tests/integrations_plugin_wordpress_seo/Events/Integrations/Plugins/WordPress_SEO/Events_TitleTest.php
  tests/integrations_plugin_wordpress_seo/Events/Integrations/Plugins/WordPress_SEO/Events_VariablesTest.php
  tests/integrations_plugin_wordpress_seo/Events/Integrations/Plugins/WordPress_SEO/__snapshots__/Events_TitleTest__it_produces_matching_title_and_og_title_tags with data set event category with plain text custom title__1.php
  tests/integrations_plugin_wordpress_seo/Events/Integrations/Plugins/WordPress_SEO/__snapshots__/Events_TitleTest__it_produces_matching_title_and_og_title_tags with data set event category with variable-based custom title__1.php
  tests/integrations_plugin_wordpress_seo/Events/Integrations/Plugins/WordPress_SEO/__snapshots__/Events_TitleTest__it_produces_matching_title_and_og_title_tags with data set event tag with plain text custom title__1.php
  tests/integrations_plugin_wordpress_seo/Events/Integrations/Plugins/WordPress_SEO/__snapshots__/Events_VariablesTest__it_outputs_correct_title_and_og_title_for_event_category_with_custom_seo_title__1.php
  tests/integrations_plugin_wordpress_seo/Events/Integrations/Plugins/WordPress_SEO/__snapshots__/Events_VariablesTest__it_outputs_correct_title_and_og_title_for_event_tag_with_custom_seo_title__1.php
Owners: @the-events-calendar/engineers

Version bump for release/M26.banette
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Restore post_tag on locale_change
  src/Tribe/Main.php
Owners: @bordoni

Add changelog
  changelog/fix-TEC-4996-restore-post-tag
Owners: @the-events-calendar/engineers

Add tests
  tests/wpunit/Tribe__Events__MainTest.php
Owners: @the-events-calendar/engineers

Remove conditional from test
  tests/wpunit/Tribe__Events__MainTest.php
Owners: @the-events-calendar/engineers

Simplify code a bit more.
  src/Events/Integrations/Plugins/WordPress_SEO/Events_Title.php
  src/Events/Integrations/Plugins/WordPress_SEO/Events_Variables.php
Owners: @the-events-calendar/engineers

Fix PHPCS
  src/Events/Integrations/Plugins/WordPress_SEO/Events_Title.php
Owners: @the-events-calendar/engineers

Fix regression due to changing order in `header.php`.
  src/views/v2/components/content-title.php
  src/views/v2/components/header.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/HeaderTest.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_backlink_after_h1_when_header_title_exists__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_backlink_after_h1_when_only_content_title_exists__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_breadcrumb_after_h1_when_header_title_exists__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_complete_heading_order_with_content_title_and_breadcrumb__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_complete_heading_order_with_header_title_and_backlink__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_heading_order_with_header_title_no_navigation__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_title_templates_order with data set header_title exists - header-title first__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_title_templates_order with data set header_title exists, no content_title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_title_templates_order with data set no header_title - content-title first__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_title_templates_order with data set no header_title, no content_title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Day View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set List View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Month View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/__snapshots__/ExtendingViewTest__should_render_the_default_view_if_view_not_found__1.php
Owners: @the-events-calendar/engineers

Fix PHPCS/Update snapshots.
  src/views/v2/components/header.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_backlink_after_h1_when_header_title_exists__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_backlink_after_h1_when_only_content_title_exists__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_breadcrumb_after_h1_when_header_title_exists__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_complete_heading_order_with_content_title_and_breadcrumb__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_complete_heading_order_with_header_title_and_backlink__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_heading_order_with_header_title_no_navigation__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_title_templates_order with data set header_title exists - header-title first__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_title_templates_order with data set header_title exists, no content_title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_title_templates_order with data set no header_title - content-title first__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/HeaderTest__test_title_templates_order with data set no header_title, no content_title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Day View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set List View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Month View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/__snapshots__/ExtendingViewTest__should_render_the_default_view_if_view_not_found__1.php
Owners: @the-events-calendar/engineers

Add changelog entry
  changelog/chore-add-tut-changelog
Owners: @the-events-calendar/engineers

Replace TBD entries with version 6.15.16
  src/Tribe/Views/V2/View.php
  src/Tribe/Views/V2/Views/Day_View.php
  src/functions/template-tags/organizer.php
  src/resources/js/views/manager.js
  src/views/modules/meta/organizer.php
  src/views/v2/components/content-title.php
  src/views/v2/components/header.php
  src/views/v2/day/nav.php
  src/views/v2/day/top-bar/nav.php
  src/views/v2/month/calendar-body/day/cell-title.php
  src/views/v2/month/calendar-body/day/date.php
  src/views/v2/month/top-bar/nav.php
Owners: @the-events-calendar/engineers

:symbols: Updating .pot file and add language changelog for e65d5d635a16536e859e90989e3135879b9666fa
  changelog/task-i18n-e65d5d6
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/M26.absol This is an automated PR created by sdokus. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/21907750048
  changelog.md
  changelog/base-TEC-5193-fix-incorrect-focus-order
  changelog/base-TEC-5732-nav-aria-label
  changelog/chore-add-tut-changelog
  changelog/fix-correct-evaluation-of-password-protection-for-organizers
  changelog/task-i18n-e65d5d6
  changelog/tweak-TEC-5733_day_view_heading_order
  changelog/tweak-TEC-5735_mini_calendar
  changelog/tweak-TEC_5622
  readme.txt
Owners: @the-events-calendar/engineers

Apply suggestion from @sdokus
  changelog.md
Owners: @the-events-calendar/engineers

Apply suggestion from @sdokus
  changelog.md
Owners: @the-events-calendar/engineers

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni
