Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni

chore: fix phpcs
  src/Tribe/Aggregator/Service.php
Owners: @the-events-calendar/engineers

tweak: rename filter based on CR
  src/Tribe/Aggregator/Service.php
Owners: @the-events-calendar/engineers

Version bump for bucket/product-consolidation
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

SCON-355: Rebrand to Nexcess
  changelog/rebrand-to-liquid-web
  phpcs.xml
  readme.txt
Owners: @the-events-calendar/engineers

feat: Enhance SEO handling for list-based views by adding noindex for date-specific URLs and improving 404 logic for disabled views.
  src/Events/SEO/Controller.php
  src/Events/SEO/Headers/Controller.php
Owners: @the-events-calendar/engineers

feat: Add SEO & URL Handling settings to manage noindex directives and 404 behavior for event URLs
  src/Events/SEO/Controller.php
  src/Events/SEO/Headers/Controller.php
  src/Events/SEO/Settings.php
Owners: @the-events-calendar/engineers

feat: Add tests for 404 behavior in disabled views and noindex handling for list view URLs
  tests/views_integration/Tribe/Events/Views/V2/SEO/Headers/Controller_Disabled_View_Test.php
  tests/views_integration/Tribe/Events/Views/V2/SEO/Headers/Controller_List_View_Test.php
  tests/views_integration/Tribe/Events/Views/V2/Views/Traits/With_NoindexTest.php
Owners: @the-events-calendar/engineers

Version bump for release/M26.gardevoir
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

feat: Add changelog entries for SEO improvements and 404 handling in disabled views
  changelog/TEC-5750-disabled-view-404
  changelog/TEC-5750-list-view-seo
  changelog/TEC-5750-seo-settings
Owners: @the-events-calendar/engineers

fix: PHPCS arrow alignment
  src/Events/SEO/Settings.php
Owners: @the-events-calendar/engineers

fix: Improve 404 handling for out-of-range event dates when no events exist
  src/Events/SEO/Headers/Controller.php
Owners: @the-events-calendar/engineers

test: Enhance list view noindex behavior by creating a test event
  tests/views_integration/Tribe/Events/Views/V2/Views/Traits/With_NoindexTest.php
Owners: @the-events-calendar/engineers

chore: rephrase changelog
  changelog/TEC-5750-disabled-view-404
Owners: @the-events-calendar/engineers

test: event date in list view disabled 404 test
  tests/views_integration/Tribe/Events/Views/V2/SEO/Headers/Controller_List_View_Test.php
Owners: @the-events-calendar/engineers

chore: minor-grammar correction
  changelog/TEC-5750-seo-settings
Owners: @the-events-calendar/engineers

chore: rephrase changelog
  changelog/TEC-5750-list-view-seo
Owners: @the-events-calendar/engineers

fix: prevent false 404 errors for disabled views on main events page
  src/Events/SEO/Headers/Controller.php
Owners: @the-events-calendar/engineers

Fix meta tag title in events archive and single
  changelog/fix-TEC-5759-title-tag-events-archive
  src/Tribe/Views/V2/Template/Title.php
  tests/views_integration/Tribe/Events/Views/V2/Template/TitleTest.php
Owners: @the-events-calendar/engineers

PR Fixes
  src/Tribe/Views/V2/Template/Title.php
  tests/views_integration/Tribe/Events/Views/V2/Template/TitleTest.php
Owners: @the-events-calendar/engineers

fix: fixing incorrect filtering colors on calendar view
  changelog/fix-category-color-filter-multi-event-day
  src/resources/js/views/category-color-selector.js
Owners: @the-events-calendar/engineers

chore: release prep - analyze
  changelog/tweak-analyze-filters
Owners: @the-events-calendar/engineers

Replace TBD entries with version 6.15.21
  src/Tribe/Aggregator/Service.php
Owners: @the-events-calendar/engineers

:symbols: Updating .pot file and add language changelog for 88f13f961fba46ec522622deb1afbb22f337887f
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

chore: update changelog entries
  changelog.md
  readme.txt
Owners: @the-events-calendar/engineers

chore: update pup to latest vesion
  composer.json
Owners: @the-events-calendar/engineers

fix: use pup's latest options for i18n
  .github/workflows/zip.yml
Owners: @the-events-calendar/engineers

PR commit suggestion
  src/Tribe/Views/V2/Template/Title.php
Owners: @the-events-calendar/engineers

Changelog update
  changelog/fix-TEC-5759-title-tag-events-archive
Owners: @the-events-calendar/engineers

PHPCS Fixes
  src/Tribe/Views/V2/Template/Title.php
Owners: @the-events-calendar/engineers

chore: update version to 6.16.0
  changelog.md
  lang/the-events-calendar.pot
  package.json
  readme.txt
  src/Tribe/Aggregator/Service.php
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

fix: Timezone handling in event timestamps to use DateTime objects for improved accuracy
  src/Tribe/Timezones.php
Owners: @bordoni

chore: add changelog entry
  changelog/fix-SMTNC-267-emails-timezones
Owners: @the-events-calendar/engineers

chore: phpcs fix
  src/Tribe/Timezones.php
Owners: @bordoni

chore: phpcs fixes
  src/Tribe/Timezones.php
Owners: @bordoni

fix: Update event timestamps in snapshot tests for accurate timezone representation
  tests/integration_category_colors/Frontend/Views/V2/Partials/Components/__snapshots__/Category_Color_Day_ViewTest__test_render_with_event_day_view__1.php
  tests/integration_category_colors/Frontend/Views/V2/Partials/Components/__snapshots__/Category_Color_List_ViewTest__test_render_with_category_colors_disabled__1.php
  tests/integration_category_colors/Frontend/Views/V2/Partials/Components/__snapshots__/Category_Color_List_ViewTest__test_render_with_event_list_view__1.php
Owners: @the-events-calendar/engineers

Version bump for release/harbor-update
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

chore: added changelog
  changelog.md
  readme.txt
Owners: @the-events-calendar/engineers

Update coding standards link in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @the-events-calendar/engineers

chore: Add changelog
  changelog/fix-broken-link-in-contributing-md
Owners: @the-events-calendar/engineers

chore: update changelog
  changelog/fix-broken-link-in-contributing-md
Owners: @the-events-calendar/engineers
