Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

More PHPCS corrections
  src/views/v2/month/calendar-body/day/cell.php
  src/views/v2/month/calendar-body/day/more-events.php
  src/views/v2/month/mobile-events/mobile-day.php
  src/views/v2/month/mobile-events/mobile-day/more-events.php
Owners: @the-events-calendar/engineers

Update src/admin-views/settings/tabs/display/display-currency.php
  src/admin-views/settings/tabs/display/display-currency.php
Owners: @the-events-calendar/engineers

Updated ET Upsell to use the ET action to check if ET is enabled.
  changelog/tweak-TEC-5585_et_upsell
  src/admin-views/settings/tabs/display/display-currency.php
Owners: @the-events-calendar/engineers

remove blocking condition
  src/Events/Integrations/Plugins/Elementor/Widgets/Event_Venue.php
Owners: @the-events-calendar/engineers

Updated `@since`.
  src/admin-views/settings/tabs/display/display-currency.php
Owners: @the-events-calendar/engineers

Fixed Community Addon upsell link.
  changelog/tweak-TEC-5586_ce_upsell_link
  src/admin-views/settings/upsells/community.php
Owners: @the-events-calendar/engineers

Updated `@since`.
  src/admin-views/settings/tabs/display/display-currency.php
Owners: @the-events-calendar/engineers

Move import settings to separate file
  src/admin-views/settings/tabs/integrations/integrations-import.php
Owners: @the-events-calendar/engineers

Cleaning up
  src/admin-views/settings/tabs/integrations/integrations-import.php
Owners: @the-events-calendar/engineers

Remove import settings fields
  src/admin-views/tribe-options-addons-api.php
Owners: @the-events-calendar/engineers

Update some settings
  src/Tribe/Aggregator/Settings.php
Owners: @the-events-calendar/engineers

Add and update comments
  src/admin-views/tribe-options-addons-api.php
Owners: @the-events-calendar/engineers

Create the imports subtab
  src/admin-views/tribe-options-addons-api.php
Owners: @the-events-calendar/engineers

fix map style condition
  src/Events/Integrations/Plugins/Elementor/Widgets/Event_Venue.php
Owners: @the-events-calendar/engineers

Update docblocks
  src/admin-views/tribe-options-addons-api.php
Owners: @the-events-calendar/engineers

Create subtab for gMaps
  src/admin-views/tribe-options-addons-api.php
Owners: @the-events-calendar/engineers

Docblock tweak
  src/admin-views/tribe-options-addons-api.php
Owners: @the-events-calendar/engineers

add change log
  changelog/fix-missing-map-option-TEC-5092
Owners: @the-events-calendar/engineers

tests - add venue widget controls validation
  tests/elementor_integration/Widgets/Controls/Events_VenueTest.php
Owners: @the-events-calendar/engineers

Adjust settings fields
  src/admin-views/tribe-options-addons-api.php
Owners: @the-events-calendar/engineers

format
  src/Events/Integrations/Plugins/Elementor/Widgets/Event_Venue.php
Owners: @the-events-calendar/engineers

Add changelog
  changelog/tweak-TEC-5683-integration-submenus
Owners: @the-events-calendar/engineers

Address PHPCS comments
  src/admin-views/settings/tabs/integrations/integrations-import.php
Owners: @the-events-calendar/engineers

Add tests
  tests/elementor_integration/ControllerTest.php
Owners: @the-events-calendar/engineers

Add tests
  tests/elementor_integration/ControllerTest.php
Owners: @the-events-calendar/engineers

Conditionally remove and switch from Default Page Template if Elementor Pro is active
  changelog/fix-TEC-5610-elementor-template-management
  src/Events/Integrations/Plugins/Elementor/Controller.php
  src/admin-views/settings/tabs/display/display-calendar.php
Owners: @the-events-calendar/engineers

Tweak test name
  tests/elementor_integration/Template/ControllerTest.php
Owners: @the-events-calendar/engineers

Update tests and move logic to integration with filter
  src/Events/Integrations/Plugins/Elementor/Controller.php
  src/admin-views/settings/tabs/display/display-calendar.php
  tests/elementor_integration/ControllerTest.php
  tests/elementor_integration/Template/ControllerTest.php
Owners: @the-events-calendar/engineers

Suggested changes
  src/Events/Integrations/Plugins/Elementor/Controller.php
  src/admin-views/settings/tabs/display/display-calendar.php
Owners: @the-events-calendar/engineers

Add tests
  tests/elementor_integration/ControllerTest.php
Owners: @the-events-calendar/engineers

Remove new filter, use existing one
  src/Events/Integrations/Plugins/Elementor/Controller.php
  src/admin-views/settings/tabs/display/display-calendar.php
Owners: @the-events-calendar/engineers

Address PHPCS comments
  src/Tribe/iCal.php
Owners: @bordoni

Replace instances of isset with get_in_any
  src/Events/Integrations/Plugins/Elementor/Controller.php
Owners: @the-events-calendar/engineers

Small tweak
  src/Events/Integrations/Plugins/Elementor/Controller.php
Owners: @the-events-calendar/engineers

Version bump for release/T25.jubilee
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

doc(Classy) add missing value from array
  src/Events/Classy/Controller.php
Owners: @the-events-calendar/engineers

Add a time range when setting up time zones
  src/Tribe/iCal.php
Owners: @bordoni

Add changelog
  changelog/fix-TEC-5061-fix-timezone-definition-2
Owners: @the-events-calendar/engineers

Update test
  tests/wpunit/Tribe/Events/iCalTest.php
Owners: @the-events-calendar/engineers

Address comments from Brian
  src/Tribe/iCal.php
Owners: @bordoni

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni
