Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

refactor(Classy) use correct JSX element
  src/resources/packages/classy/fields/EventCost/EventCost.tsx
  src/resources/packages/classy/fields/EventDateTime/EventDateTime.tsx
Owners: @the-events-calendar/engineers

phpcbf
  tests/rest_tec_v1_integration/Endpoints/Organizer_Test.php
Owners: @the-events-calendar/engineers

fixed organizer api data
  src/resources/packages/classy/api/organizers.ts
Owners: @the-events-calendar/engineers

Fixed venue update
  src/resources/packages/classy/api/venues.ts
Owners: @the-events-calendar/engineers

updated mismatched snapshots to expected
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses_with_password__4__0.snapshot.json
Owners: @the-events-calendar/engineers

Working on FBAR issue. moving to filter.
  src/Tribe/Views/V2/Rest_Endpoint.php
Owners: @the-events-calendar/engineers

Version bump for release/T25.jessicajones
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Change dropdown to react-select to allow for searching
  changelog/release-T25.jessicajones
  src/resources/packages/wizard/components/tabs/venue/tab.tsx
Owners: @the-events-calendar/engineers

Correct changelog name
  changelog/fix-TEC-5581-add-search-to-countries
Owners: @the-events-calendar/engineers

venues show in rest
  src/Tribe/Venue.php
Owners: @bordoni

styles fixed for state options
  src/resources/packages/classy/fields/EventLocation/VenueUpsert.tsx
Owners: @the-events-calendar/engineers

classy format
  src/resources/packages/classy/fields/EventLocation/VenueUpsert.tsx
  src/resources/packages/classy/fields/EventLocation/VenueUpsertModal.tsx
Owners: @the-events-calendar/engineers

Update Private title snapshots
  tests/_support/_generated/Classy_integrationTesterActions.php
  tests/_support/_generated/RestIntegrationTesterActions.php
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses_with_password__4__0.snapshot.json
Owners: @the-events-calendar/engineers

Add a test to validate the /organizers endpoint behaves as expected
  tests/rest_tec_v1_integration/Endpoints/Organizers_Test.php
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_archive_response__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_archive_response__0__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_archive_response__1__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_archive_response__2__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_archive_response__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_archive_response__4__0.snapshot.json
Owners: @the-events-calendar/engineers

tests(classy_jest) add organizer, venues API tests
  tests/classy_jest/api/organizers.spec.ts
  tests/classy_jest/api/venues.spec.ts
Owners: @the-events-calendar/engineers

Update Js to close on escape.
  src/resources/js/events-admin.js
Owners: @the-events-calendar/engineers

Update Js to close on escape.
  src/resources/js/events-admin.js
Owners: @the-events-calendar/engineers

Removed extra code.
  src/resources/js/events-admin.js
Owners: @the-events-calendar/engineers

Fix comments.
  src/resources/js/events-admin.js
Owners: @the-events-calendar/engineers

tests(classy_jest) start clean up
  package-lock.json
  package.json
  tests/classy_jest/_support/TestProvider.tsx
  tests/classy_jest/fields/EventCost.spec.tsx
  tests/classy_jest/fields/EventCost/EventCost.spec.tsx
  tests/classy_jest/fields/EventCost/__snapshots__/EventCost.spec.tsx.snap
  tests/classy_jest/fields/EventLocation.spec.tsx
  tests/classy_jest/jest.config.ts
  tests/classy_jest/jest.setup.ts
Owners: @the-events-calendar/engineers

Add template analyze changelog.
  changelog/tut-analyze
Owners: @the-events-calendar/engineers

:symbols: Updating .pot file and add language changelog for 036db17d0c4e0321cc67cb07a7494ce0abd77cf1
  changelog/task-i18n-036db17
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/T25.ironman This is an automated PR created by Camwyn. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/17774596232
  changelog.md
  changelog/accessibility-CE-278_focus_datepicker
  changelog/fix-CE-330_linked_post_missing_slug
  changelog/fix-TEC-1052
  changelog/task-i18n-036db17
  changelog/tut-analyze
  readme.txt
Owners: @the-events-calendar/engineers

Apply suggestions from code review
  changelog.md
  readme.txt
Owners: @the-events-calendar/engineers

Replace TBD entries with version 6.15.4
  src/Tribe/Main.php
  src/functions/template-tags/link.php
Owners: @bordoni, @the-events-calendar/engineers

Switch Venues, Organizers, and Events to implement Archive_Endpoint interface
  src/Events/REST/TEC/V1/Endpoints/Events.php
  src/Events/REST/TEC/V1/Endpoints/Organizers.php
  src/Events/REST/TEC/V1/Endpoints/Venues.php
Owners: @the-events-calendar/engineers

Add REST support for Organizers, Venues, and Events in Classy
  src/Events/Classy/Controller.php
  src/Events/REST/TEC/V1/Endpoints/Organizers.php
Owners: @the-events-calendar/engineers

Update Organizers and Venues archive endpoints
  tests/rest_tec_v1_integration/Endpoints/Organizers_Test.php
  tests/rest_tec_v1_integration/Endpoints/Venues_Test.php
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses__0__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses__1__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses__2__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses_with_password__0__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses_with_password__1__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses_with_password__2__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses__0__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses__1__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses__2__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses_with_password__0__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses_with_password__1__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses_with_password__2__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses_with_password__4__0.snapshot.json
Owners: @the-events-calendar/engineers

Add initial Jest tests for the Organizers API
  tests/classy_jest/api/organizers.spec.ts
Owners: @the-events-calendar/engineers

Add initial Jest tests for Venues API
  tests/classy_jest/api/venues.spec.ts
Owners: @the-events-calendar/engineers

test(classy_jest) resolve Common modules to the TEC modules
  tests/classy_jest/jest-resolver.js
Owners: @the-events-calendar/engineers

test(classy_jest) start clean up and restructure of EventCost component test
  tests/classy_jest/fields/EventCost.spec.tsx
Owners: @the-events-calendar/engineers

test(classy_jest) cover EventCost component
  tests/classy_jest/_support/TestProvider.tsx
  tests/classy_jest/_support/mockWpDataModule.ts
  tests/classy_jest/api/organizers.spec.ts
  tests/classy_jest/api/venues.spec.ts
  tests/classy_jest/fields/EventCost.spec.tsx
  tests/classy_jest/jest-resolver.js
  tests/classy_jest/jest.config.ts
Owners: @the-events-calendar/engineers

test(classy_jest) cover EventAdmission component
  src/resources/packages/classy/fields/EventAdmission/EventAdmission.tsx
  tests/classy_jest/fields/EventAdmission.spec.tsx
Owners: @the-events-calendar/engineers

test(classy_jest) cover EventDateTime field
  tests/classy_jest/fields/EventDateTime.spec.tsx
Owners: @the-events-calendar/engineers

test(classy_jest) cover EventDetails field
  src/resources/packages/classy/fields/EventDetails/EventDetails.tsx
  tests/classy_jest/fields/EventDetails.spec.tsx
Owners: @the-events-calendar/engineers

register legacy blocks controller
  src/Events/Classy/Controller.php
  src/Events/Classy/Legacy_Blocks/Controller.php
Owners: @the-events-calendar/engineers

unregister actions
  src/Events/Classy/Legacy_Blocks/Controller.php
Owners: @the-events-calendar/engineers

register all block classes
  src/Events/Classy/Legacy_Blocks/Controller.php
Owners: @the-events-calendar/engineers

Add classy:jest:path npm script
  package.json
Owners: @the-events-calendar/engineers

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni
