Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

Add some tests for webpack public path.
  src/resources/packages/__tests__/webpack-public-path.test.js
  tests/_support/_generated/IntegrationTesterActions.php
  tests/integration/TEC/Events/Admin/Onboarding/Landing_Page_Webpack_Test.php
  tests/integration/TEC/Events/Admin/Onboarding/README-webpack-tests.md
Owners: @the-events-calendar/engineers

Use uopz for overrind constants in tests.
  tests/integration/TEC/Events/Admin/Onboarding/Landing_Page_Webpack_Test.php
  tests/integration/TEC/Events/Admin/Onboarding/README-webpack-tests.md
Owners: @the-events-calendar/engineers

Update src/Events/Admin/Onboarding/Landing_Page.php
  src/Events/Admin/Onboarding/Landing_Page.php
Owners: @the-events-calendar/engineers

Remove generated files.
  tests/_support/_generated/AcceptanceTesterActions.php
  tests/_support/_generated/Aggregatorv1TesterActions.php
  tests/_support/_generated/Blocks_editor_integrationTesterActions.php
  tests/_support/_generated/Ct1_integrationTesterActions.php
  tests/_support/_generated/Ct1_migrationTesterActions.php
  tests/_support/_generated/Ct1_multisite_integrationTesterActions.php
  tests/_support/_generated/Ct1_wp_json_apiTesterActions.php
  tests/_support/_generated/DeprecatedTesterActions.php
  tests/_support/_generated/Elementor_integrationTesterActions.php
  tests/_support/_generated/Embed_calendar_integrationTesterActions.php
  tests/_support/_generated/Event_statusTesterActions.php
  tests/_support/_generated/FeaturesTesterActions.php
  tests/_support/_generated/IntegrationTesterActions.php
  tests/_support/_generated/Integrations_plugin_wordpress_seoTesterActions.php
  tests/_support/_generated/MuintegrationTesterActions.php
  tests/_support/_generated/MuwpunitTesterActions.php
  tests/_support/_generated/RestIntegrationTesterActions.php
  tests/_support/_generated/Restv1TesterActions.php
  tests/_support/_generated/Rewrite_functionalTesterActions.php
  tests/_support/_generated/Views_integrationTesterActions.php
  tests/_support/_generated/Views_restTesterActions.php
  tests/_support/_generated/Views_settingsTesterActions.php
  tests/_support/_generated/Views_uiTesterActions.php
  tests/_support/_generated/Views_v2_customizer_integrationTesterActions.php
  tests/_support/_generated/Views_widgetsTesterActions.php
  tests/_support/_generated/Views_wpunitTesterActions.php
  tests/_support/_generated/Wp_json_apiTesterActions.php
  tests/_support/_generated/Wpml_integrationTesterActions.php
  tests/_support/_generated/WpunitTesterActions.php
Owners: @the-events-calendar/engineers

gitignore the generated files.
  .gitignore
Owners: @the-events-calendar/engineers

Change to using wp_add_inline_script instead of admin_head. Trying to not trigger linter issues based on esc_js call.
  src/Events/Admin/Onboarding/Landing_Page.php
Owners: @the-events-calendar/engineers

trigger tests again
  the-events-calendar.php
Owners: @bordoni

Revert "Remove generated files."
  tests/_support/_generated/AcceptanceTesterActions.php
  tests/_support/_generated/Aggregatorv1TesterActions.php
  tests/_support/_generated/Blocks_editor_integrationTesterActions.php
  tests/_support/_generated/Ct1_integrationTesterActions.php
  tests/_support/_generated/Ct1_migrationTesterActions.php
  tests/_support/_generated/Ct1_multisite_integrationTesterActions.php
  tests/_support/_generated/Ct1_wp_json_apiTesterActions.php
  tests/_support/_generated/DeprecatedTesterActions.php
  tests/_support/_generated/Elementor_integrationTesterActions.php
  tests/_support/_generated/Embed_calendar_integrationTesterActions.php
  tests/_support/_generated/Event_statusTesterActions.php
  tests/_support/_generated/FeaturesTesterActions.php
  tests/_support/_generated/IntegrationTesterActions.php
  tests/_support/_generated/Integrations_plugin_wordpress_seoTesterActions.php
  tests/_support/_generated/MuintegrationTesterActions.php
  tests/_support/_generated/MuwpunitTesterActions.php
  tests/_support/_generated/RestIntegrationTesterActions.php
  tests/_support/_generated/Restv1TesterActions.php
  tests/_support/_generated/Rewrite_functionalTesterActions.php
  tests/_support/_generated/Views_integrationTesterActions.php
  tests/_support/_generated/Views_restTesterActions.php
  tests/_support/_generated/Views_settingsTesterActions.php
  tests/_support/_generated/Views_uiTesterActions.php
  tests/_support/_generated/Views_v2_customizer_integrationTesterActions.php
  tests/_support/_generated/Views_widgetsTesterActions.php
  tests/_support/_generated/Views_wpunitTesterActions.php
  tests/_support/_generated/Wp_json_apiTesterActions.php
  tests/_support/_generated/Wpml_integrationTesterActions.php
  tests/_support/_generated/WpunitTesterActions.php
Owners: @the-events-calendar/engineers

Revert "gitignore the generated files."
  .gitignore
Owners: @the-events-calendar/engineers

remove test that is no longer relevant
  tests/integration/TEC/Events/Admin/Onboarding/Landing_Page_Webpack_Test.php
Owners: @the-events-calendar/engineers

Testign removal of generated files
  composer.json
  composer.lock
  tests/_support/_generated/AcceptanceTesterActions.php
  tests/_support/_generated/Aggregatorv1TesterActions.php
  tests/_support/_generated/Blocks_editor_integrationTesterActions.php
  tests/_support/_generated/Ct1_integrationTesterActions.php
  tests/_support/_generated/Ct1_migrationTesterActions.php
  tests/_support/_generated/Ct1_multisite_integrationTesterActions.php
  tests/_support/_generated/Ct1_wp_json_apiTesterActions.php
  tests/_support/_generated/DeprecatedTesterActions.php
  tests/_support/_generated/Elementor_integrationTesterActions.php
  tests/_support/_generated/Embed_calendar_integrationTesterActions.php
  tests/_support/_generated/Event_statusTesterActions.php
  tests/_support/_generated/FeaturesTesterActions.php
  tests/_support/_generated/IntegrationTesterActions.php
  tests/_support/_generated/Integrations_plugin_wordpress_seoTesterActions.php
  tests/_support/_generated/MuintegrationTesterActions.php
  tests/_support/_generated/MuwpunitTesterActions.php
  tests/_support/_generated/RestIntegrationTesterActions.php
  tests/_support/_generated/Restv1TesterActions.php
  tests/_support/_generated/Rewrite_functionalTesterActions.php
  tests/_support/_generated/Views_integrationTesterActions.php
  tests/_support/_generated/Views_restTesterActions.php
  tests/_support/_generated/Views_settingsTesterActions.php
  tests/_support/_generated/Views_uiTesterActions.php
  tests/_support/_generated/Views_v2_customizer_integrationTesterActions.php
  tests/_support/_generated/Views_widgetsTesterActions.php
  tests/_support/_generated/Views_wpunitTesterActions.php
  tests/_support/_generated/Wp_json_apiTesterActions.php
  tests/_support/_generated/Wpml_integrationTesterActions.php
  tests/_support/_generated/WpunitTesterActions.php
Owners: @the-events-calendar/engineers

Update '@wordpress/hooks' to latest version
  package-lock.json
  package.json
Owners: @the-events-calendar/engineers

Move somem EventDateTime functions to the functions/ directory
  src/resources/packages/classy/fields/EventDateTime/EventDateTime.tsx
  src/resources/packages/classy/functions/events.tsx
  src/resources/packages/classy/index.ts
  src/resources/packages/classy/types/EventDateTimeDetails.d.ts
Owners: @the-events-calendar/engineers

Remove extra parameter from removeFilter() call
  src/resources/packages/classy/fields/EventDateTime/EventDateTime.tsx
Owners: @the-events-calendar/engineers

Run "npm run classy:format"
  src/resources/packages/classy/index.ts
  src/resources/packages/classy/store/selectors.ts
Owners: @the-events-calendar/engineers

feat: Add changelog trimming functionality for testing and validation
  bin/process-changelog.sh
  bin/trim-readme-changelog.sh
Owners: @the-events-calendar/engineers

Fix: Ensure changelog link is always present
  bin/trim-readme-changelog.sh
Owners: @the-events-calendar/engineers

Version bump for testing.
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

add test changelog entry
  changelog/feat-changelog-trim
Owners: @the-events-calendar/engineers

Include new TCMN loader.
  src/Tribe/Main.php
Owners: @bordoni

update version for testing
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Ensure we are using the Common_Loader class to load the common library.
  src/Tribe/Main.php
Owners: @bordoni

override method to use tec domain for translation
  src/Tribe/Cost_Utils.php
Owners: @bordoni

Refactoring the TEC suite Telemetry implementation to properly use the StellarWP Telemetry library's native plugin handling.
  src/Events/Telemetry/Telemetry.php
Owners: @the-events-calendar/engineers

Version bump for release/T25.kiteman
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

:symbols: Updating .pot file and add language changelog for 12ffe22bdc4aa022791c3f2635bd91e1977840e3
  changelog/task-i18n-12ffe22
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/T25.kiteman This is an automated PR created by Camwyn. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/18291030206
  changelog.md
  changelog/accesibility-TEC-5207_remove_breadcrumbs
  changelog/accessibility-TEC-5207_a11y_breadcrumbs
  changelog/fix-TEC-5208-landmarks-2
  changelog/fix-TEC-5531-heading-correction
  changelog/fix-TEC-5583-use-existing-checks
  changelog/task-i18n-12ffe22
  readme.txt
Owners: @the-events-calendar/engineers

Add missing changelog
  changelog/release-T25.kiteman
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/T25.kiteman This is an automated PR created by Camwyn. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/18291234738
  changelog.md
  changelog/accesibility-TEC-5207_remove_breadcrumbs
  changelog/accessibility-TEC-5207_a11y_breadcrumbs
  changelog/fix-TEC-5208-landmarks-2
  changelog/fix-TEC-5531-heading-correction
  changelog/fix-TEC-5583-use-existing-checks
  changelog/release-T25.kiteman
  changelog/task-i18n-12ffe22
  readme.txt
Owners: @the-events-calendar/engineers

Apply suggestion from @Camwyn
  changelog.md
Owners: @the-events-calendar/engineers

Apply suggestion from @Camwyn
  readme.txt
Owners: @the-events-calendar/engineers

Replace TBD entries with version 6.15.7
  src/Events/Admin/Onboarding/Steps/Optin.php
  src/Tribe/Views/V2/View.php
  src/resources/packages/__tests__/webpack-public-path.test.js
  src/resources/packages/webpack-public-path.js
  src/views/v2/components/backlink.php
  src/views/v2/components/breadcrumbs.php
  src/views/v2/components/breadcrumbs/breadcrumb.php
  src/views/v2/components/breadcrumbs/linked-breadcrumb.php
  src/views/v2/components/header.php
  src/views/v2/list/nav.php
  src/views/v2/list/top-bar/nav.php
Owners: @the-events-calendar/engineers

Fix webpack path tests
  tests/integration/TEC/Events/Admin/Onboarding/Landing_Page_Webpack_Test.php
Owners: @the-events-calendar/engineers

changelog tweaks
  changelog.md
  readme.txt
Owners: @the-events-calendar/engineers

update some snapshots
  tests/integration/__snapshots__/Tribe__Events__QueryTest__should_filter_and_order_an_event_query__1.php
  tests/integration/__snapshots__/Tribe__Events__QueryTest__should_filter_and_order_main_events_query__1.php
  tests/integration/__snapshots__/Tribe__Events__QueryTest__should_not_filter_and_order_a_query_for_non_events_cpt__1.php
  tests/integration/__snapshots__/Tribe__Events__QueryTest__should_not_filter_and_order_a_query_if_suppressed__1.php
  tests/integration/__snapshots__/Tribe__Events__QueryTest__should_not_filter_and_order_query_for_not_only_events__1.php
  tests/integration/__snapshots__/Tribe__Events__QueryTest__should_not_filter_and_order_the_main_query_if_suppressed__1.php
Owners: @the-events-calendar/engineers

Version bump for release/T25.krypto
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

WIP add event handler to close tooltips
  src/resources/js/views/tooltip.js
Owners: @the-events-calendar/engineers

Ensure Venue and Organizer require non-whitespace for the names
  src/resources/packages/classy/fields/EventLocation/VenueUpsert.tsx
  src/resources/packages/classy/fields/EventOrganizer/OrganizerUpsert.tsx
Owners: @the-events-calendar/engineers

Add obfuscation note to the Organizer email input
  src/resources/packages/classy/fields/EventOrganizer/OrganizerUpsert.tsx
Owners: @the-events-calendar/engineers

Update query hadling to avoid showing the same event multiple times or not at all when Pro is not active. [TEC-5709]
  src/Events/Custom_Tables/V1/Views/V2/By_Day_View_Compatibility.php
  src/Events/Custom_Tables/V1/Views/V2/Provider.php
  src/Events/Custom_Tables/V1/WP_Query/Custom_Tables_Query.php
Owners: @the-events-calendar/engineers

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni
