Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

More snapshot updates
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Day View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set List View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Month View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__2.php
  tests/views_integration/Tribe/Events/Views/V2/__snapshots__/ExtendingViewTest__should_render_the_default_view_if_view_not_found__1.php
Owners: @the-events-calendar/engineers

Updating changelog entries
  changelog.md
  readme.txt
Owners: @the-events-calendar/engineers

fixes existing translation issue could result in fatal
  src/views/v2/month/calendar-body/day/date.php
Owners: @the-events-calendar/engineers

Fixing phpcs
  src/views/v2/month/calendar-body/day/date.php
Owners: @the-events-calendar/engineers

added changelog
  changelog/fix-existing-translation-results-in-fatal
Owners: @the-events-calendar/engineers

Update snapshots
  tests/_support/_generated/IntegrationTesterActions.php
  tests/integration_category_colors/Frontend/Views/V2/Partials/Components/__snapshots__/Category_Color_Day_ViewTest__test_render_with_event_day_view__1.php
  tests/integration_category_colors/Frontend/Views/V2/Partials/Components/__snapshots__/Category_Color_List_ViewTest__test_render_with_category_colors_disabled__1.php
  tests/integration_category_colors/Frontend/Views/V2/Partials/Components/__snapshots__/Category_Color_List_ViewTest__test_render_with_event_list_view__1.php
Owners: @the-events-calendar/engineers

Update snapshots
  tests/views_integration/Tribe/Events/Views/V2/Partials/Day_View/__snapshots__/EventTest__test_render_with_event__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Day_View/__snapshots__/EventTest__test_render_with_featured_event__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/List_View/__snapshots__/EventTest__test_render_with_event__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/List_View/__snapshots__/EventTest__test_render_with_featured_event__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__2.php
Owners: @the-events-calendar/engineers

Version bump for release/T25.moonknight.1
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Apply suggestion from @dpanta94
  changelog/fix-existing-translation-results-in-fatal
Owners: @the-events-calendar/engineers

Update docs
  src/views/v2/month/calendar-body/day/date.php
Owners: @the-events-calendar/engineers

:symbols: Updating .pot file and add language changelog for 2729fb1ff82d7c318c76814e458d507bdc5f2dad
  changelog/task-i18n-2729fb1
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/T25.moonknight.1 This is an automated PR created by dpanta94. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/19509019029
  changelog.md
  changelog/fix-existing-translation-results-in-fatal
  changelog/task-i18n-2729fb1
  readme.txt
Owners: @the-events-calendar/engineers

Replace placeholder with floating label
  changelog/fix-TEC-5618-add-floating-label
  src/resources/postcss/components/full/_search.pcss
  src/views/v2/components/events-bar/search/keyword.php
Owners: @the-events-calendar/engineers

Update snapshots
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/Events_Bar/Search/__snapshots__/KeywordTest__test_render__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/Events_Bar/Search/__snapshots__/KeywordTest__test_render_with_keyword__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/Events_Bar/__snapshots__/SearchTest__test_render_with_context__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Events_BarTest__test_render_with_views__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Day View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set List View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Month View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/__snapshots__/ExtendingViewTest__should_render_the_default_view_if_view_not_found__1.php
Owners: @the-events-calendar/engineers

Version bump for release/T25.moonknight.2
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

adds the role attribute instead of wrapping everything
  src/Tribe/Views/V2/Template_Bootstrap.php
Owners: @the-events-calendar/engineers

adds changelog entry
  changelog/fix-remove-main-element-wrap
Owners: @the-events-calendar/engineers

Fixing tests
  src/Tribe/Views/V2/Template_Bootstrap.php
  tests/views_wpunit/Tribe/Events/Views/V2/Template_BootstrapTest.php
  tests/views_wpunit/Tribe/Events/Views/V2/__snapshots__/Template_BootstrapTest__test_main_landmark_no_double_wrap_snapshot__1.php
  tests/views_wpunit/Tribe/Events/Views/V2/__snapshots__/Template_BootstrapTest__test_main_landmark_wrapper_snapshot_custom_id__1.php
  tests/views_wpunit/Tribe/Events/Views/V2/__snapshots__/Template_BootstrapTest__test_main_landmark_wrapper_snapshot_default_id__1.php
Owners: @the-events-calendar/engineers

Update src/Tribe/Views/V2/Template_Bootstrap.php
  src/Tribe/Views/V2/Template_Bootstrap.php
Owners: @the-events-calendar/engineers

update snapshots
  tests/views_wpunit/Tribe/Events/Views/V2/Template_BootstrapTest.php
  tests/views_wpunit/Tribe/Events/Views/V2/__snapshots__/Template_BootstrapTest__test_main_landmark_no_double_wrap_snapshot__1.php
  tests/views_wpunit/Tribe/Events/Views/V2/__snapshots__/Template_BootstrapTest__test_main_landmark_wrapper_snapshot_custom_id__1.php
  tests/views_wpunit/Tribe/Events/Views/V2/__snapshots__/Template_BootstrapTest__test_main_landmark_wrapper_snapshot_default_id__1.php
Owners: @the-events-calendar/engineers

test CI suites
  the-events-calendar.php
Owners: @bordoni

Process changelog for refs/heads/release/T25.moonknight.2 This is an automated PR created by dpanta94. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/19548102025
  changelog.md
  changelog/fix-remove-main-element-wrap
  readme.txt
Owners: @the-events-calendar/engineers

refactor: move end-of-day info to tec
  src/Events/Classy/Controller.php
  src/resources/packages/classy/fields/EventDateTime/EventDateTime.tsx
  src/resources/packages/classy/types/EventDateTimeDetails.d.ts
  src/resources/packages/classy/types/Settings.d.ts
  tests/classy_integration/Controller_Test.php
  tests/classy_jest/fields/__snapshots__/EventLocation.spec.tsx.snap
  tests/classy_jest/fields/__snapshots__/EventOrganizer.spec.tsx.snap
Owners: @the-events-calendar/engineers

Improve archive view content title to default to an H1 while allowing heading tag overrides via tec_events_views_v2_view_{$view_slug}_content_title_heading_tag filter
  changelog/tweak-TEC-5617_dynamic_a11y_heading
  src/Tribe/Views/V2/View.php
  src/views/v2/components/content-title.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/Content_TitleTest.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set div tag falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set empty string falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h0 falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with HTML tags__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with XSS attempt__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with extra text falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with space falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with special characters__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 without content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h2 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h2 without content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h3 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h3 without content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h4 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h4 without content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h5 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h5 without content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h6 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h6 without content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h7 falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set number only falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set p tag falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set span tag falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set uppercase H1 falls back to h1__1.php
Owners: @the-events-calendar/engineers

PHPCS Changes.
  src/views/v2/components/content-title.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/Content_TitleTest.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set div tag falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set empty string falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h0 falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with HTML tags__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with XSS attempt__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with extra text falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with space falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 with special characters__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h1 without content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h2 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h2 without content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h3 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h3 without content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h4 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h4 without content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h5 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h5 without content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h6 with content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h6 without content title__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set h7 falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set number only falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set p tag falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set span tag falls back to h1__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_render with data set uppercase H1 falls back to h1__1.php
Owners: @the-events-calendar/engineers

Ignore heading tag not be escaped.
  src/views/v2/components/content-title.php
Owners: @the-events-calendar/engineers

Ignore heading tag not be escaped.
  src/views/v2/components/content-title.php
Owners: @the-events-calendar/engineers

update snapshots.
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags and cats__0.snapshot.html
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/__snapshots__/ExtendingViewTest__should_render_the_default_view_if_view_not_found__1.php
Owners: @the-events-calendar/engineers

Safeguard `get_content_title_heading_tag` in scenarios where it doesn't exist.
  src/views/v2/components/content-title.php
Owners: @the-events-calendar/engineers

Fix PHPCS.
  src/views/v2/components/content-title.php
Owners: @the-events-calendar/engineers

Update TBD's.
  src/Tribe/Views/V2/View.php
  src/views/v2/components/content-title.php
Owners: @the-events-calendar/engineers

Remove hardcoded `Events`.
  src/views/v2/components/content-title.php
Owners: @the-events-calendar/engineers

Increase contrast for pagination arrows.
  changelog/fix-TEC-5638-navigation-arrow-contrast
  src/resources/postcss/components/full/_top-bar.pcss
Owners: @the-events-calendar/engineers

Add doc block change to trigger phpcs
  src/views/v2/list/top-bar/nav.php
Owners: @the-events-calendar/engineers

Remove php change
  src/views/v2/list/top-bar/nav.php
Owners: @the-events-calendar/engineers

Increased contrast for month view past multiday events.
  changelog/fix-TEC-5641-month-view-past-multiday-contrast
  src/resources/postcss/views/full/month/_multiday-event.pcss
Owners: @the-events-calendar/engineers

Increase contrast on past events titles
  changelog/fix-TEC-5642-past-event-title-contrast
  src/resources/postcss/views/full/month/_calendar-event.pcss
Owners: @the-events-calendar/engineers

Remove redundant text color CSS
  src/resources/postcss/views/full/month/_calendar-event.pcss
Owners: @the-events-calendar/engineers

Increase contrast for datepicker nav arrows
  changelog/fix-TEC-5639-datepicker-nav-arrows-contrast
  src/resources/postcss/components/full/_datepicker.pcss
Owners: @the-events-calendar/engineers

Updating Datepicker to be more accessible.
  vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css
  vendor/bootstrap-datepicker/js/bootstrap-datepicker.js
Owners: @the-events-calendar/engineers

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni
