Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

Add since to docblock
  src/Tribe/Ignored_Events.php
Owners: @bordoni

Version bump for release/T26.apricot
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Revert changes for TEC-5913
  changelog/fix-TEC-5156-fix-focus-order-of-buttons-and-datepicker
  src/resources/postcss/views/skeleton/_header.pcss
  src/views/v2/components/header.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_content_title_filter__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Day View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set List View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Month View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/__snapshots__/ExtendingViewTest__should_render_the_default_view_if_view_not_found__1.php
Owners: @the-events-calendar/engineers

Revert "Revert changes for TEC-5913"
  changelog/fix-TEC-5156-fix-focus-order-of-buttons-and-datepicker
  src/resources/postcss/views/skeleton/_header.pcss
  src/views/v2/components/header.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_content_title_filter__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Day View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set List View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Month View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/__snapshots__/ExtendingViewTest__should_render_the_default_view_if_view_not_found__1.php
Owners: @the-events-calendar/engineers

Revert "More snapshot updates"
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Day View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set List View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Latest_Past_ViewTest__should_correctly_render_in_the_context_of_month_view with data set Month View__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__2.php
  tests/views_integration/Tribe/Events/Views/V2/__snapshots__/ExtendingViewTest__should_render_the_default_view_if_view_not_found__1.php
Owners: @the-events-calendar/engineers

Revert "Update snapshots"
  tests/_support/_generated/IntegrationTesterActions.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
Owners: @the-events-calendar/engineers

Revert "Change focus order to match visual order for datepicker and buttons"
  changelog/fix-TEC-5156-fix-focus-order-of-buttons-and-datepicker
  src/resources/postcss/views/skeleton/_header.pcss
  src/views/v2/components/header.php
Owners: @the-events-calendar/engineers

test: add missing tests for report functionality
  src/Events/Category_Colors/Admin/Abstract_Admin.php
  src/Events/Custom_Tables/V1/Migration/Ajax.php
  src/Events/Custom_Tables/V1/Migration/CSV_Report/File_Download.php
  src/Tribe/Admin/Timezone_Settings.php
  src/Tribe/Aggregator/Settings.php
  src/Tribe/Aggregator/Tabs/Scheduled.php
  src/Tribe/Amalgamator.php
  src/Tribe/Main.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/Migration/AjaxTest.php
Owners: @the-events-calendar/engineers, @bordoni

Update snapshots to fix indentations
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags and cats__0.snapshot.html
Owners: @the-events-calendar/engineers

Revert "Update snapshots to fix indentations"
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags and cats__0.snapshot.html
Owners: @the-events-calendar/engineers

Update snapshots from other PRs
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags and cats__0.snapshot.html
  tests/views_integration/Tribe/Events/Views/V2/Partials/Components/__snapshots__/Content_TitleTest__test_content_title_filter__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__2.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
  tests/views_integration/Tribe/Events/Views/V2/__snapshots__/ExtendingViewTest__should_render_the_default_view_if_view_not_found__1.php
Owners: @the-events-calendar/engineers

Resolve conflict in correct direction
  readme.txt
Owners: @the-events-calendar/engineers

Version bump for release/T26.aqua
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Add changelog.
  changelog/task-SVUL-36_add_changelog
Owners: @the-events-calendar/engineers

Add changelog.
  changelog/task-SVUL-36_add_changelog
Owners: @the-events-calendar/engineers

Disable nonce check in tests for Category colors.
  tests/integration_category_colors/Admin/Add_Category_Test.php
  tests/integration_category_colors/Admin/Edit_Category_Test.php
Owners: @the-events-calendar/engineers

Update snapshots.
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses_with_password__4__0.snapshot.json
Owners: @the-events-calendar/engineers

test: trigger to check on baseline pass
  src/Tribe/Main.php
Owners: @bordoni

test: update snapshots
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses_with_password__4__0.snapshot.json
Owners: @the-events-calendar/engineers

chore: cleanup
  changelog/task-SVUL-36_add_changelog
Owners: @the-events-calendar/engineers

Changelog (#5523)
  tests/integration_category_colors/Admin/Add_Category_Test.php
  tests/integration_category_colors/Admin/Edit_Category_Test.php
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Event_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Events_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizer_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Organizers_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venue_Test__test_read_responses_with_password__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_get_formatted_entity__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses__4__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses_with_password__3__0.snapshot.json
  tests/rest_tec_v1_integration/Endpoints/__snapshots__/Venues_Test__test_read_responses_with_password__4__0.snapshot.json
Owners: @the-events-calendar/engineers

doc: add changelog entry
  changelog.md
  readme.txt
Owners: @the-events-calendar/engineers

Fix CSS line hidden when using a11y-hidden class.
  src/resources/postcss/components/full/_content-title.pcss
Owners: @the-events-calendar/engineers

Only add margin if the element inside isn't hidden.
  src/resources/postcss/components/skeleton/_content-title.pcss
Owners: @the-events-calendar/engineers

Remove bottom margin from venue element due to reorganizing them.
  src/resources/postcss/views/skeleton/list/_event.pcss
Owners: @the-events-calendar/engineers

Fix CSS for Date,List,Map,Photo views.
  src/resources/postcss/views/skeleton/day/_event.pcss
  src/resources/postcss/views/skeleton/list/_event.pcss
Owners: @the-events-calendar/engineers

Fix CSS for Date,List,Map,Photo views.
  src/resources/postcss/views/skeleton/day/_event.pcss
  src/resources/postcss/views/skeleton/list/_event.pcss
Owners: @the-events-calendar/engineers

Make venue margin smaller.
  src/resources/postcss/views/skeleton/day/_event.pcss
  src/resources/postcss/views/skeleton/list/_event.pcss
Owners: @the-events-calendar/engineers

Remove extra margin for medium screens.
  src/resources/postcss/views/skeleton/day/_event.pcss
Owners: @the-events-calendar/engineers

Remove old CSS that was adding margin above the time.
  src/resources/postcss/views/skeleton/day/_event.pcss
Owners: @the-events-calendar/engineers

Replace TBD entries with version 6.15.13.1
  src/Events/Calendar_Embeds/Frontend.php
  src/Events/Category_Colors/Admin/Controller.php
  src/Events/Category_Colors/Controller.php
  src/Events/Category_Colors/Repositories/Category_Color_Priority_Category_Provider.php
  src/Events/Custom_Tables/V1/Migration/Events.php
  src/Tribe/Event_Cleaner_Scheduler.php
  src/Tribe/Ignored_Events.php
  src/Tribe/Views/V2/View.php
  src/views/v2/components/content-title.php
Owners: @the-events-calendar/engineers, @bordoni

Version bump for release/T26.amethyst
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Replace TBD entries with version 6.15.14
  src/Events/Calendar_Embeds/Frontend.php
  src/Events/Category_Colors/Admin/Controller.php
  src/Events/Category_Colors/Controller.php
  src/Events/Category_Colors/Repositories/Category_Color_Priority_Category_Provider.php
  src/Events/Custom_Tables/V1/Migration/Events.php
  src/Tribe/Event_Cleaner_Scheduler.php
  src/Tribe/Ignored_Events.php
  src/Tribe/Views/V2/View.php
  src/views/v2/components/content-title.php
Owners: @the-events-calendar/engineers, @bordoni

:symbols: Updating .pot file and add language changelog for 09e50bba863c013c36913b43c23f1c35f263efb5
  changelog/task-i18n-09e50bb
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/T26.amethyst This is an automated PR created by redscar. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/20964754320
  changelog.md
  changelog/fix-TEC-5638-navigation-arrow-contrast
  changelog/fix-TEC-5639-datepicker-nav-arrows-contrast
  changelog/fix-TEC-5640-datepicker-current-day-contrast
  changelog/fix-TEC-5641-month-view-past-multiday-contrast
  changelog/fix-TEC-5642-past-event-title-contrast
  changelog/fix-TEC-5646-datepicker-on-hover-outline
  changelog/fix-TEC-5717-calendar-embed-tweak
  changelog/fix-TEC-5727_category_color_leakage
  changelog/fix-TECTRIA-709-handle-series-trash-maintenance
  changelog/tweak-TEC-5617_dynamic_a11y_heading
  changelog/tweak-TEC-5621_change_content_order
  changelog/tweak-TEC-5712_category_color_type_hint
  changelog/tweak-TEC-5714_Js_error
  changelog/tweak-tec-5620_datepicker_a11y
  readme.txt
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/T26.amethyst This is an automated PR created by redscar. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/20964912440
  changelog.md
  changelog/fix-TEC-5638-navigation-arrow-contrast
  changelog/fix-TEC-5639-datepicker-nav-arrows-contrast
  changelog/fix-TEC-5640-datepicker-current-day-contrast
  changelog/fix-TEC-5641-month-view-past-multiday-contrast
  changelog/fix-TEC-5642-past-event-title-contrast
  changelog/fix-TEC-5646-datepicker-on-hover-outline
  changelog/fix-TEC-5717-calendar-embed-tweak
  changelog/fix-TEC-5727_category_color_leakage
  changelog/fix-TECTRIA-709-handle-series-trash-maintenance
  changelog/task-i18n-09e50bb
  changelog/tweak-TEC-5617_dynamic_a11y_heading
  changelog/tweak-TEC-5621_change_content_order
  changelog/tweak-TEC-5712_category_color_type_hint
  changelog/tweak-TEC-5714_Js_error
  changelog/tweak-tec-5620_datepicker_a11y
  readme.txt
Owners: @the-events-calendar/engineers

Update ECP version dependencies
  changelog.md
  readme.txt
  src/Tribe/Plugin_Register.php
Owners: @the-events-calendar/engineers, @bordoni

Update REST API endpoint to provide better errors when an event is Perm Deleted, Trashed, Invalid ID. This is useful to Promoter issues we are having right now.
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Messages.php
  src/Tribe/Validator/Base.php
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/Single_EventTest.php
  tests/wpunit/Tribe/Events/Validator/BaseTest.php
Owners: @the-events-calendar/engineers

Address PHPCS comments
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Messages.php
  src/Tribe/Validator/Base.php
Owners: @the-events-calendar/engineers

Add specific error message for trashed events
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Messages.php
  tests/wpunit/Tribe/Events/REST/V1/Endpoints/Single_EventTest.php
Owners: @the-events-calendar/engineers

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni
