Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni

fix: Adjust event timestamps in snapshot tests for correct timezone representation
  tests/views_widgets/Tribe/Events/Views/V2/Widgets/__snapshots__/Widget_ListTest__test_render_json_with_upcoming_events__1.php
  tests/views_widgets/Tribe/Events/Views/V2/Widgets/__snapshots__/Widget_ListTest__test_render_no_json_with_upcoming_events__1.php
  tests/views_widgets/Tribe/Events/Views/V2/Widgets/__snapshots__/Widget_ListTest__test_render_with_featured_upcoming_events__1.php
  tests/views_widgets/Tribe/Events/Views/V2/Widgets/__snapshots__/Widget_ListTest__test_render_with_upcoming_events__1.php
Owners: @the-events-calendar/engineers

fix: Update snapshot tests for event details and formatting consistency
  tests/integration_category_colors/Frontend/Views/V2/Partials/Components/__snapshots__/Category_Color_Day_ViewTest__test_render_with_event_day_view__1.php
  tests/integration_category_colors/Frontend/Views/V2/Partials/Components/__snapshots__/Category_Color_List_ViewTest__test_render_with_category_colors_disabled__1.php
  tests/integration_category_colors/Frontend/Views/V2/Partials/Components/__snapshots__/Category_Color_List_ViewTest__test_render_with_event_list_view__1.php
Owners: @the-events-calendar/engineers

fix: Update event timestamps in snapshot tests for accurate timezone representation
  tests/event_status/Tribe/Events/Event_Status/Views/Month/__snapshots__/Tooltip_ViewTest__it_should_render_canceled_name_and_html__1.php
  tests/event_status/Tribe/Events/Event_Status/Views/Month/__snapshots__/Tooltip_ViewTest__it_should_render_postponed_name_and_html__1.php
  tests/event_status/Tribe/Events/Event_Status/Views/Month/__snapshots__/Tooltip_ViewTest__it_should_render_standard_title__1.php
Owners: @the-events-calendar/engineers

Snapshots update
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags and cats__0.snapshot.html
Owners: @the-events-calendar/engineers

fix: Ensure stable snapshot by pinning compatibility-wrapper emission for theme independence
  tests/embed_calendar_integration/Frontend_Test.php
Owners: @the-events-calendar/engineers

Version bump for release/harbor-1.2.0
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

chore: update changelog
  changelog.md
  readme.txt
Owners: @the-events-calendar/engineers

chore: add missed new line
  readme.txt
Owners: @the-events-calendar/engineers

Update changelog/fix-category-color-filter-multi-event-day
  changelog/fix-category-color-filter-multi-event-day
Owners: @the-events-calendar/engineers

fix: update phpcs ci to work
  .github/workflows/phpcs.yml
Owners: @the-events-calendar/engineers

fix: phpcs
  .github/workflows/phpcs.yml
Owners: @the-events-calendar/engineers

fix: phpcs
  .github/workflows/phpcs.yml
Owners: @the-events-calendar/engineers

Fix link to coding standards in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @the-events-calendar/engineers

fix: phpcs
  .github/workflows/phpcs.yml
Owners: @the-events-calendar/engineers

reset phpcs ci
  .github/workflows/phpcs.yml
Owners: @the-events-calendar/engineers

fix: fixing changelog mensage
  changelog/ECP-2016-Category-filtering-fails-to-highlight-events-and-over-highlights-other-events
Owners: @the-events-calendar/engineers

chore: update package version to 6.15.16 and mark common subproject as dirty
  package-lock.json
Owners: @the-events-calendar/engineers

Version bump for release/M26.gardevoir
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Replace TBD entries with version 6.16.3
  src/resources/js/views/category-color-selector.js
Owners: @the-events-calendar/engineers

:symbols: Updating .pot file and add language changelog for 88670ebf417e125a0df285a2fae8ae8c19c68393
  changelog/task-i18n-88670eb
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/M26.gardevoir This is an automated PR created by sdokus. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/26598828011
  changelog.md
  changelog/ECP-2016-Category-filtering-fails-to-highlight-events-and-over-highlights-other-events
  changelog/fix-TEC-5759-title-tag-events-archive
  changelog/task-i18n-88670eb
  readme.txt
Owners: @the-events-calendar/engineers

Fix CI failures: QR hash decode, action scheduler loader, phpcs
  src/Events/Custom_Tables/V1/Migration/Provider.php
  src/Events/QR/Routes.php
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/Views/V2/Url.php
Owners: @the-events-calendar/engineers

Fix REST event dates dropped after tribe-common bump
  src/Tribe/Models/Post_Types/Event.php
Owners: @the-events-calendar/engineers

Drop unnecessary already-loaded guard in AS loader
  src/Events/Custom_Tables/V1/Migration/Provider.php
Owners: @the-events-calendar/engineers

fix: resolve rsvp-merge CI failures after common bump
  src/Events/Custom_Tables/V1/Migration/Provider.php
  src/Events/QR/Routes.php
  src/Tribe/Models/Post_Types/Event.php
Owners: @the-events-calendar/engineers

Version bump for release/M26.haunter
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

:symbols: Updating .pot file and add language changelog for 259ecfa804ec000219fa583efc8640de6c21a136
  changelog/task-i18n-259ecfa
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/M26.haunter This is an automated PR created by sdokus. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/27301804021
  changelog.md
  changelog/task-i18n-259ecfa
  readme.txt
Owners: @the-events-calendar/engineers

Fix: use timezone-aware DateTime parsing in get_event_timestamp()
  src/Tribe/Timezones.php
Owners: @bordoni

fix: avoid translating cron schedule label before init
  changelog/fix-defer-aggregator-cron-schedule-translation
  src/Tribe/Aggregator/Cron.php
Owners: @the-events-calendar/engineers

Update 6.16.4 release date and add CONS-478 changelog entry
  changelog.md
  readme.txt
Owners: @the-events-calendar/engineers

style: remove padding from input fields in venue form
  src/modules/elements/venue-form/style.pcss
Owners: @the-events-calendar/engineers

chore: add changelog
  changelog/smtnc-1181-wp-70-beta-conflict-tec-venue-block-country-select-is-too
Owners: @the-events-calendar/engineers

Update changelog/smtnc-1181-wp-70-beta-conflict-tec-venue-block-country-select-is-too
  changelog/smtnc-1181-wp-70-beta-conflict-tec-venue-block-country-select-is-too
Owners: @the-events-calendar/engineers

Update changelog/smtnc-1181-wp-70-beta-conflict-tec-venue-block-country-select-is-too
  changelog/smtnc-1181-wp-70-beta-conflict-tec-venue-block-country-select-is-too
Owners: @the-events-calendar/engineers

fix: Make iCal export feed deterministic and harden calendar headers
  changelog/security-ical-feed-deterministic-hardening
  src/Tribe/iCal.php
  tests/wpunit/Tribe/Events/iCalTest.php
Owners: @the-events-calendar/engineers, @bordoni

fix: replacing custom function and str_replace by wp functions
  src/Tribe/iCal.php
Owners: @bordoni

chore: bump version to 6.16.4.1 and process changelog
  changelog.md
  changelog/security-ical-feed-deterministic-hardening
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Update date to new release date.
  changelog.md
  readme.txt
Owners: @the-events-calendar/engineers

:symbols: Updating .pot file and add language changelog for 889d1b680693bd1c25d90052751ae36e11201e7a
  changelog/task-i18n-889d1b6
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers
