Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni

Merge pull request #5171 from the-events-calendar/fix/admin-scripts
  changelog/fix-admin-scripts
  src/resources/js/admin/notice-install-event-tickets.js
Owners: @the-events-calendar/engineers

Update wpunit snapshots
  tests/wpunit/functions/template-tags/__snapshots__/generalTest__test_event_tag_archive_link with data set 0__1.php
  tests/wpunit/functions/template-tags/__snapshots__/generalTest__test_event_tag_archive_link with data set 1__1.php
  tests/wpunit/functions/template-tags/__snapshots__/generalTest__test_event_tag_archive_link with data set 2__1.php
  tests/wpunit/functions/template-tags/__snapshots__/generalTest__test_with_wp_filter_tag_archive_link with data set 0__1.php
  tests/wpunit/functions/template-tags/__snapshots__/generalTest__test_with_wp_filter_tag_archive_link with data set 1__1.php
  tests/wpunit/functions/template-tags/__snapshots__/generalTest__test_with_wp_filter_tag_archive_link with data set 2__1.php
  tests/wpunit/functions/template-tags/__snapshots__/generalTest__test_wp_tag_archive_link with data set 0__1.php
  tests/wpunit/functions/template-tags/__snapshots__/generalTest__test_wp_tag_archive_link with data set 1__1.php
  tests/wpunit/functions/template-tags/__snapshots__/generalTest__test_wp_tag_archive_link with data set 2__1.php
Owners: @the-events-calendar/engineers

Revert "Correct use of globals in admin scripts."
  changelog/fix-admin-scripts
  src/resources/js/admin/notice-install-event-tickets.js
Owners: @the-events-calendar/engineers

Change test to use snapshots instead of hardcoded expectations
  tests/wpunit/functions/template-tags/__snapshots__/generalTest__test_tribe_meta_event_archive_tags_with_bad_terms__1.php
  tests/wpunit/functions/template-tags/generalTest.php
Owners: @the-events-calendar/engineers

Version bump for release/T25.moonknight
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Tweak test more
  tests/wpunit/functions/template-tags/generalTest.php
Owners: @the-events-calendar/engineers

Restructure test to be more flexible
  tests/wpunit/functions/template-tags/__snapshots__/generalTest__test_tribe_meta_event_archive_tags_with_bad_terms__1.php
  tests/wpunit/functions/template-tags/generalTest.php
Owners: @the-events-calendar/engineers

Removing commented out code
  src/Events/Request/Ical.php
Owners: @the-events-calendar/engineers

Apply suggestion from @dpanta94
  src/Events/Request/Controller.php
Owners: @the-events-calendar/engineers

Version bump for release/T25.moonknight
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Update heading levels for “Events at this venue” and “Events from this organizer” to improve accessibility and semantic hierarchy.
  changelog/tweak-TEC-5636-accessible-headings
  src/views/v2/components/content-title.php
  src/views/v2/list/event/title.php
  src/views/v2/list/month-separator.php
Owners: @the-events-calendar/engineers

Improve month view accessibility by adding contextual ARIA labels, and keyboard focus visibility for mini calendar. [TEC-5630]
  src/views/v2/month/calendar-body/day/date.php
Owners: @the-events-calendar/engineers

tut analyze
  changelog/tut-analyze_views
Owners: @the-events-calendar/engineers

Replace TBD entries with version 6.15.11
  src/Tribe/Ignored_Events.php
  src/functions/template-tags/general.php
  src/resources/js/views/month-mobile-events.js
  src/views/blocks/parts/details.php
  src/views/blocks/parts/organizer.php
  src/views/blocks/parts/venue.php
  src/views/modules/meta/details.php
  src/views/modules/meta/organizer.php
  src/views/modules/meta/venue.php
  src/views/v2/month/calendar-body/day/date.php
  src/views/v2/month/calendar-header.php
Owners: @bordoni, @the-events-calendar/engineers

:symbols: Updating .pot file and add language changelog for 072a1098a35ebd45a0bfc9b109f127ceb9bd9581
  changelog/task-i18n-072a109
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/T25.missmartian This is an automated PR created by redscar. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/19074031048
  changelog.md
  changelog/fix-TEC-5719-month-table
  changelog/fix-TEC-5719-month-table-header
  changelog/fix-TEC-5721-ignored-events-warning
  changelog/fix-event-meta-definition-list-accessibility
  changelog/task-i18n-072a109
  changelog/tut-analyze_views
  changelog/tweak-TEC-5228
  changelog/tweak-TEC-5231
  readme.txt
Owners: @the-events-calendar/engineers

Update snapshots.
  changelog/tweak-TEC-5630_mini_calendar_icon_a11y
  src/views/v2/month/calendar-body/day/date.php
  tests/integration_category_colors/Frontend/Views/V2/Partials/Components/__snapshots__/Category_Color_Month_ViewTest__test_render_with_event_month_view__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/Calendar_Body/__snapshots__/DayTest__test_render_with_context__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/__snapshots__/Calendar_BodyTest__test_static_render__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/__snapshots__/Calendar_BodyTest__test_static_render_past__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
Owners: @the-events-calendar/engineers

Update snapshots
  tests/_support/_generated/IntegrationTesterActions.php
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__no tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags - no cats__0.snapshot.html
  tests/embed_calendar_integration/__snapshots__/Frontend_Test__it_should_overwrite_content__tags and cats__0.snapshot.html
Owners: @the-events-calendar/engineers

Update snapshots.
  tests/views_integration/Tribe/Events/Views/V2/Partials/Month_View/Calendar_Body/__snapshots__/DayTest__test_render_with_context__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/Integrations/__snapshots__/Restrict_Content_Pro_Test__test_render_unrestricted__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_empty__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_hide_endtime__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Month_ViewTest__test_render_with_events_w_taxonomies__2.php
Owners: @the-events-calendar/engineers

Update snapshots
  tests/integration_category_colors/Frontend/Views/V2/Partials/Components/__snapshots__/Category_Color_List_ViewTest__test_render_with_category_colors_disabled__1.php
  tests/integration_category_colors/Frontend/Views/V2/Partials/Components/__snapshots__/Category_Color_List_ViewTest__test_render_with_event_list_view__1.php
Owners: @the-events-calendar/engineers

Update snapshots
  tests/event_status/Tribe/Events/Event_Status/Views/__snapshots__/List_ViewTest__it_should_render_canceled_name_and_html__1.php
  tests/event_status/Tribe/Events/Event_Status/Views/__snapshots__/List_ViewTest__it_should_render_postponed_name_and_html__1.php
  tests/event_status/Tribe/Events/Event_Status/Views/__snapshots__/List_ViewTest__it_should_render_standard_title__1.php
Owners: @the-events-calendar/engineers

Update snapshots
  tests/views_integration/Tribe/Events/Views/V2/Partials/List_View/Event/__snapshots__/TitleTest__test_render_with_event__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/List_View/__snapshots__/EventTest__test_render_with_event__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/List_View/__snapshots__/EventTest__test_render_with_featured_event__1.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/List_View/__snapshots__/Month_SeparatorTest__test_should_render_month_separator__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__2.php
Owners: @the-events-calendar/engineers

chore(Main.php) update file to trigger PHP tests
  src/Tribe/Main.php
Owners: @bordoni

Allow for skipping join with occurences table
  src/Events/Custom_Tables/V1/WP_Query/Custom_Tables_Query.php
Owners: @the-events-calendar/engineers

Improve Day View accessibility by using semantic H2 headings for time separators to create a proper heading hierarchy. [TEC-5627]
  src/views/v2/day/time-separator.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/Day_View/__snapshots__/Time_SeparatorTest__test_should_render_time_separator__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/Day_ViewTest__test_render_w_events_w_taxonomies__2.php
Owners: @the-events-calendar/engineers

Update `@since`.
  src/views/v2/day/time-separator.php
Owners: @the-events-calendar/engineers

Fixing bad usage of filter
  src/Events/Custom_Tables/V1/WP_Query/Repository/Custom_Tables_Query_Filters.php
Owners: @the-events-calendar/engineers

Tweak manager.js to accept url and href
  changelog/tweak-TEC-5633-support-button-navigation
  src/resources/js/views/manager.js
Owners: @the-events-calendar/engineers

Remove changelog
  changelog/tweak-TEC-5633-support-button-navigation
Owners: @the-events-calendar/engineers

Add changelog.
  changelog/tweak-TEC-5627_day_view_heading
Owners: @the-events-calendar/engineers

Update since tag
  src/resources/js/views/manager.js
Owners: @the-events-calendar/engineers

Update docblocks, wrap `time` in `h3`.
  src/views/v2/components/content-title.php
  src/views/v2/list/event/title.php
  src/views/v2/list/month-separator.php
  tests/views_integration/Tribe/Events/Views/V2/Partials/List_View/__snapshots__/Month_SeparatorTest__test_should_render_month_separator__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__1.php
  tests/views_integration/Tribe/Events/Views/V2/Views/__snapshots__/List_ViewTest__test_render_with_upcoming_taxonomy_events__2.php
Owners: @the-events-calendar/engineers

Add filter for wrapping the event content in a main landmark
  changelog/fix-TEC-5628-fix-broken-skip-links
  src/Tribe/Views/V2/Hooks.php
  src/Tribe/Views/V2/Template/Page.php
  src/Tribe/Views/V2/Template_Bootstrap.php
Owners: @the-events-calendar/engineers

Remove unneeded variable
  src/Tribe/Views/V2/Template_Bootstrap.php
Owners: @the-events-calendar/engineers

build(.github) disable broken workflows
  .github/workflows/npm-lint.yml.bak
  .github/workflows/phpstan.yml.bak
Owners: @the-events-calendar/engineers

Part 1 of fixing linting tests. The eslintrc.js is to relaxed right now.
  .eslintrc.js
  src/modules/blocks/event-organizer/container.js
  src/modules/blocks/event-price/template.js
  src/modules/blocks/event-venue/template.js
  src/modules/blocks/event-venue/venue-details.js
  src/modules/blocks/featured-image/block.js
  src/modules/data/blocks/datetime/sagas.js
  src/modules/elements/google-map/element.js
  src/modules/elements/organizer-form/element.js
  src/modules/elements/search-or-create/element.js
  src/modules/elements/search-or-create/template.js
  src/modules/elements/terms-list/element.js
  src/modules/elements/venue-form/element.js
  src/modules/elements/year-month-form/element.js
  src/modules/widgets/index.js
  src/modules/widgets/qr-code/index.js
  src/modules/widgets/qr-code/template.js
  src/resources/js/admin/category-colors/admin-category.js
  src/resources/js/admin/notice-install-event-tickets.js
  src/resources/js/calendar-embeds/page.js
  src/resources/js/events-admin.js
  src/resources/js/views/accordion.js
  src/resources/js/views/breakpoints.js
  src/resources/js/views/datepicker.js
  src/resources/js/views/events-bar-inputs.js
  src/resources/js/views/events-bar.js
  src/resources/js/views/ical-links.js
  src/resources/js/views/manager.js
  src/resources/js/views/month-grid.js
  src/resources/js/views/month-mobile-events.js
  src/resources/js/views/multiday-events.js
  src/resources/js/views/navigation-scroll.js
  src/resources/js/views/tooltip.js
  src/resources/js/views/view-selector.js
  src/resources/js/views/viewport.js
Owners: @the-events-calendar/engineers

Mass fix `no-var` rule.
  .eslintrc.js
  src/resources/js/admin-ignored-events.js
  src/resources/js/admin-upgrade-page.js
  src/resources/js/admin/category-colors/admin-category.js
  src/resources/js/aggregator-admin-legacy-settings.js
  src/resources/js/customizer-views-v2-controls.js
  src/resources/js/customizer-views-v2-live-preview.js
  src/resources/js/event-editor.js
  src/resources/js/events-admin-timezone-updater.js
  src/resources/js/events-admin.js
  src/resources/js/events-dynamic.js
Owners: @the-events-calendar/engineers

Fix `eqeqeq` rule.
  src/resources/js/aggregator-fields.js
  src/resources/js/embedded-map.js
  src/resources/js/events-admin.js
  src/resources/js/events-dynamic.js
  src/resources/js/jquery-ecp-plugins.js
Owners: @the-events-calendar/engineers

Fix `eqeqeq` rule.
  .eslintrc.js
Owners: @the-events-calendar/engineers

Fix `no-bitwise` rule.
  .eslintrc.js
Owners: @the-events-calendar/engineers
