Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

Add is_array verification in Elementor Controller to handle non-array values
  changelog/fix-ECP-2009-tribe-events-shortcode-error
  src/Events/Integrations/Plugins/Elementor/Controller.php
Owners: @the-events-calendar/engineers

Add tests for query args handling in Elementor Controller
  tests/elementor_integration/ControllerTest.php
Owners: @the-events-calendar/engineers

Add tests for day_view_disabled template variable handling
  tests/views_integration/Tribe/Events/Views/V2/Views/Day_ViewTest.php
Owners: @the-events-calendar/engineers

Refactor day view disabled test to restore original options after execution
  tests/views_integration/Tribe/Events/Views/V2/Views/Day_ViewTest.php
Owners: @the-events-calendar/engineers

feat: Add normalization for non-ASCII characters in REQUEST_URI to prevent 404 errors
  src/Tribe/Rewrite.php
Owners: @bordoni

refactor: Improve comment formatting for clarity in Tribe__Events__Rewrite class
  src/Tribe/Rewrite.php
Owners: @bordoni

docs: update versioning notes in Hooks and Event_Query_Controller for SSR pagination fix
  CONTRIBUTING.md
  src/Tribe/Views/V2/Hooks.php
  src/Tribe/Views/V2/Query/Event_Query_Controller.php
Owners: @the-events-calendar/engineers

Refactor manager.js to use existing url_event_date, and adjust tests
  src/resources/js/views/manager.js
  tests/views_integration/Tribe/Events/Views/V2/Views/Day_ViewTest.php
Owners: @the-events-calendar/engineers

Refactor Day_ViewTest to streamline handling of tribeEnableViews state management
  tests/views_integration/Tribe/Events/Views/V2/Views/Day_ViewTest.php
Owners: @the-events-calendar/engineers

Update changelog
  changelog/fix-ECP-2009-tribe-events-shortcode-error
Owners: @the-events-calendar/engineers

Replace TBD entries with version 6.15.18
  src/Events/Integrations/Plugins/Elementor/Assets_Manager.php
  src/Events/Integrations/Plugins/Elementor/Controller.php
  src/Events/Integrations/Plugins/Elementor/Template/Importer.php
  src/Tribe/Rewrite.php
Owners: @the-events-calendar/engineers, @bordoni

:symbols: Updating .pot file and add language changelog for 6be6bfd9d5112b0cdcc3238382058bd346463d37
  changelog/task-i18n-6be6bfd
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/M26.dewgong This is an automated PR created by sdokus. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/23551141805
  changelog.md
  changelog/fix-ECP-2009-tribe-events-shortcode-error
  changelog/fix-TEC-4848-tec-404-error-when-accessing-calendar-url-that-has-special-characters
  changelog/fix-TEC-5752-404-errors-for-missing-elementor-css-files-on-single-event-pages
  changelog/task-i18n-6be6bfd
  readme.txt
Owners: @the-events-calendar/engineers

Update query to account for tests
  src/Events/Custom_Tables/V1/WP_Query/Custom_Tables_Query.php
Owners: @the-events-calendar/engineers

Adjust checks that were getting caught by tests
  src/Events/Custom_Tables/V1/Views/V2/Provider.php
  src/Events/Custom_Tables/V1/WP_Query/Custom_Tables_Query.php
  tests/_support/_generated/Ct1_wp_json_apiTesterActions.php
  tests/_support/_generated/IntegrationTesterActions.php
Owners: @the-events-calendar/engineers

Fix tests
  src/Events/Custom_Tables/V1/Views/V2/Provider.php
  src/Events/Custom_Tables/V1/WP_Query/Custom_Tables_Query.php
Owners: @the-events-calendar/engineers

Revert overly complicated fix
  src/Events/Custom_Tables/V1/Views/V2/By_Day_View_Compatibility.php
  src/Events/Custom_Tables/V1/Views/V2/Provider.php
  src/Events/Custom_Tables/V1/WP_Query/Custom_Tables_Query.php
Owners: @the-events-calendar/engineers

Revert changes further
  src/Events/Custom_Tables/V1/Views/V2/By_Day_View_Compatibility.php
  src/Events/Custom_Tables/V1/Views/V2/Provider.php
Owners: @the-events-calendar/engineers

Only show next occurrence when ECP is deactivated
  src/Events/Custom_Tables/V1/Views/V2/By_Day_View_Compatibility.php
  src/Events/Custom_Tables/V1/Views/V2/Provider.php
  src/Events/Custom_Tables/V1/WP_Query/Custom_Tables_Query.php
  src/Events/Custom_Tables/V1/WP_Query/Repository/Custom_Tables_Query_Filters.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_filter_repository_queries__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set ID__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set REST API like query__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set SQL injection on order and order by__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set SQL injection on order by__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set SQL injection on order__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by ASC__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by DESC__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by _EventEndDate meta_value__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by _EventEndDateUTC meta_value__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by _EventStartDate meta_value__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by _EventStartDateUTC meta_value__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by invalid order type__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by nested ASC__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by nested DESC__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set by nested invalid order type__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set event_date__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set event_date_utc__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set event_duration__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set no orderby specified__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set none__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set rand__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set relevance__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_correctly_order_events_by_different_order_by_criteria with data set wp_posts.ID__1.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_not_run_found_rows_query_twice_per_single_query__1.php
Owners: @the-events-calendar/engineers

SVUL-61 Enhance linked post assignment capabilities in event management
  changelog/fix-SVUL-61-tec-authenticated-vul
  src/Tribe/API.php
  src/Tribe/Linked_Posts.php
  src/Tribe/Main.php
  tests/wpunit/Tribe/Events/Linked_Posts/Publish_AssociatedTest.php
Owners: @the-events-calendar/engineers, @bordoni

Update snapshots
  tests/ct1_integration/__snapshots__/Tribe__Events__Query_CT1_Test__should_filter_and_order_an_event_query__1.php
  tests/ct1_integration/__snapshots__/Tribe__Events__Query_CT1_Test__should_filter_and_order_main_events_query__1.php
  tests/ct1_integration/__snapshots__/Tribe__Events__Query_CT1_Test__should_not_filter_and_order_a_query_if_suppressed__1.php
  tests/ct1_integration/__snapshots__/Tribe__Events__Query_CT1_Test__should_not_filter_and_order_the_main_query_if_suppressed__1.php
Owners: @the-events-calendar/engineers

PHPCS tweaks
  src/Events/Custom_Tables/V1/Views/V2/By_Day_View_Compatibility.php
  src/Events/Custom_Tables/V1/Views/V2/Provider.php
Owners: @the-events-calendar/engineers

Add changelog
  changelog/fix-TEC-5709-only-show-next-occurrence
Owners: @the-events-calendar/engineers

Update snapshots at a higher level
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_not_run_found_rows_query_twice_per_single_query__1.php
Owners: @the-events-calendar/engineers

Enhance security and permission checks for linked posts
  changelog.md
  src/Tribe/API.php
  src/Tribe/Linked_Posts.php
  src/Tribe/Main.php
  tests/wpunit/Tribe/Events/Linked_Posts/Publish_AssociatedTest.php
Owners: @the-events-calendar/engineers, @bordoni

Refactor permission checks for publishing linked posts
  changelog.md
  src/Tribe/Main.php
Owners: @the-events-calendar/engineers, @bordoni

Update test to ensure contributors cannot publish others' draft venues
  tests/wpunit/Tribe/Events/Linked_Posts/Publish_AssociatedTest.php
Owners: @the-events-calendar/engineers

Refactor linked post publishing logic and enhance unit tests
  src/Tribe/Main.php
  tests/wpunit/Tribe/Events/Linked_Posts/Publish_AssociatedTest.php
Owners: @bordoni, @the-events-calendar/engineers

Refactor code style for clarity in Main.php
  src/Tribe/Main.php
Owners: @bordoni

Code review suggestions
  src/Events/Custom_Tables/V1/Views/V2/By_Day_View_Compatibility.php
  src/Events/Custom_Tables/V1/Views/V2/Provider.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_not_run_found_rows_query_twice_per_single_query__1.php
Owners: @the-events-calendar/engineers

Add user authentication check before saving venue and organizer info
  src/Tribe/Main.php
Owners: @bordoni

PHPCS and test tweaks
  src/Events/Custom_Tables/V1/Views/V2/Provider.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/__snapshots__/Custom_Tables_QueryTest__should_not_run_found_rows_query_twice_per_single_query__1.php
Owners: @the-events-calendar/engineers

Add validation for scheduled record
  changelog/fix-SVUL-63-tec-author-can-import
  src/Tribe/Aggregator/Record/Abstract.php
  src/Tribe/Aggregator/Records.php
  src/Tribe/Aggregator/Tabs/Edit.php
  tests/wpunit/Tribe/Events/Aggregator/Scheduled_Record_Edit_AccessTest.php
Owners: @the-events-calendar/engineers

Strengthen accepted URL params
  src/Tribe/Views/V2/Url.php
  src/Tribe/Views/V2/View.php
Owners: @the-events-calendar/engineers

feature: Add happy path to test suite
  changelog/fix-SVUL-63-tec-author-can-import
  tests/wpunit/Tribe/Events/Aggregator/Scheduled_Record_Edit_AccessTest.php
Owners: @the-events-calendar/engineers

Strengthen capability checks for managing terms and categories
  changelog/fix-SVUL-64
  src/Tribe/REST/V1/Endpoints/Term_Single_Base.php
  tests/restv1/CategoryDeletionCest.php
  tests/restv1/CategoryInsertionCest.php
  tests/restv1/CategoryUpdateCest.php
  tests/restv1/TagDeletionCest.php
  tests/restv1/TagInsertionCest.php
  tests/restv1/TagUpdateCest.php
Owners: @the-events-calendar/engineers

Add tests
  tests/views_integration/Tribe/Events/Views/V2/UrlTest.php
  tests/wpunit/Tribe/Events/iCalTest.php
Owners: @the-events-calendar/engineers

Allow case insensitive matches for query params
  src/Tribe/Views/V2/Url.php
  tests/views_integration/Tribe/Events/Views/V2/UrlTest.php
Owners: @the-events-calendar/engineers

Version bump for release/M26.dusknoir
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

chore: added analyze
  changelog/tut-analyze
Owners: @the-events-calendar/engineers

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni
