Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni

Relocated license activation setup step.
  src/Events/Admin/Onboarding/Landing_Page.php
  tests/integration/TEC/Events/Admin/Onboarding/Landing_Page_License_Step_Test.php
Owners: @the-events-calendar/engineers

Reach Harbor through its global functions, not its internal classes
  src/Events/Admin/Onboarding/License_Data.php
Owners: @the-events-calendar/engineers

Version bump for release/M26.lanturn
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Update changelog/feat-smtnc-1833-onboarding-activate-license-button
  changelog/feat-smtnc-1833-onboarding-activate-license-button
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/M26.lanturn This is an automated PR created by coutinhocouto. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/30961804445
  changelog.md
  changelog/chore-bump-harbor-1-6-0.yaml
  changelog/chore-npm-changelogger-migration.yaml
  readme.txt
Owners: @the-events-calendar/engineers

Replace TBD entries with version 6.17.2
  src/Events/Admin/Onboarding/Controller.php
  src/Events/Custom_Tables/V1/WP_Query/Custom_Tables_Query.php
  src/Tribe/Aggregator/Cron.php
  src/Tribe/REST/V1/Endpoints/Archive_Base.php
  src/Tribe/REST/V1/Endpoints/Archive_Event.php
  src/Tribe/REST/V1/Endpoints/Archive_Organizer.php
  src/Tribe/REST/V1/Endpoints/Archive_Venue.php
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Endpoints/Term_Archive_Base.php
  src/Tribe/Validator/Base.php
  src/Tribe/Validator/Interface.php
Owners: @the-events-calendar/engineers

:symbols: Updating .pot file and add language changelog for 9da6a0017de9c5c5663b4b39c7125359327b8b59
  changelog/task-i18n-9da6a00.yaml
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/M26.lanturn This is an automated PR created by coutinhocouto. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/30962621698
  changelog.md
  changelog/task-i18n-9da6a00.yaml
  readme.txt
Owners: @the-events-calendar/engineers

Update release date for version 6.17.2
  changelog.md
Owners: @the-events-calendar/engineers

Update changelog date for version 6.17.2
  readme.txt
Owners: @the-events-calendar/engineers

Fixing broken test
  tests/views_integration/Tribe/Events/Views/Full_Site/Single_Block_TemplateTest.php
Owners: @the-events-calendar/engineers

Fixed the events archive page title to show the events listed on the page
  changelog/smtnc-1889-events-archive-title-still-shows-the-oldest-events-in-the.yaml
  src/Tribe/Views/V2/Template/Title.php
  src/Tribe/Views/V2/View.php
  tests/views_integration/Tribe/Events/Views/V2/Template/TitleTest.php
Owners: @the-events-calendar/engineers

Fixing logic
  src/Tribe/Views/V2/View.php
  tests/views_integration/Tribe/Events/Views/V2/Template/TitleTest.php
Owners: @the-events-calendar/engineers

Fixing fatal TypeError on crawled events URLs with malformed URLs
  changelog/smtnc-1954-tec-fatal-typeerror-on-crawled-events-urls-with-malformed.yaml
  src/Tribe/Views/V2/Url.php
  tests/views_integration/Tribe/Events/Views/V2/UrlTest.php
Owners: @the-events-calendar/engineers

fix: Harden legacy-widget instance handling
  changelog/tribe-deprecated-test-test-deprecated-classes-5-6-5-0-0-00s.yaml
  src/Tribe/Views/V2/Widgets/Service_Provider.php
  tests/views_wpunit/Tribe/Events/Views/V2/Widgets/Service_ProviderTest.php
Owners: @the-events-calendar/engineers

fix: Clean comments in Service_Provider class
  src/Tribe/Views/V2/Widgets/Service_Provider.php
Owners: @the-events-calendar/engineers

Bump version to 6.17.2.1 + replace TBDs and process changelogs
  changelog.md
  changelog/tribe-deprecated-test-test-deprecated-classes-5-6-5-0-0-00s.yaml
  readme.txt
  src/Tribe/Main.php
  src/Tribe/Views/V2/Widgets/Service_Provider.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Day view direct url shows only 1 event when recurring events
  changelog/smtnc-1961-day-view-direct-url-shows-only-1-event-when-recurring-events.yaml
  src/Events/Custom_Tables/V1/WP_Query/Repository/Custom_Tables_Query_Filters.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/WP_Query/Custom_Tables_QueryTest.php
Owners: @the-events-calendar/engineers

Restore the hydration callback in Lazy_Post_Collection::custom_unserialize()
  src/Tribe/Collections/Lazy_Post_Collection.php
Owners: @the-events-calendar/engineers

fix: prevent posts_per_page look-ahead from leaking into List view URLs and cap events per page
  changelog/fix-smtnc-1979-posts_per_page-list-view-crawler-trap
  src/Tribe/Views/V2/View.php
  tests/views_integration/Tribe/Events/Views/V2/ViewTest.php
Owners: @the-events-calendar/engineers

fix: declare get_events_per_page $context parameter explicitly nullable
  src/Tribe/Views/V2/View.php
Owners: @the-events-calendar/engineers

Version bump for release/M26.machamp
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Fix all-day events not updating custom table dates when shortened.
  changelog/fix-all-day-duration-not-updating-custom-tables
  src/Tribe/API.php
  tests/ct1_integration/TEC/Events/Custom_Tables/V1/Updates/EventsTest.php
  tests/wpunit/TEC/Events/APITest.php
Owners: @the-events-calendar/engineers, @bordoni

Bump version from 6.17.2 to 6.17.3
  src/Tribe/Main.php
Owners: @bordoni

Bump version from 6.17.2 to 6.17.3
  package.json
Owners: @the-events-calendar/engineers

Update stable tag to version 6.17.3
  readme.txt
Owners: @the-events-calendar/engineers

Bump version to 6.17.3
  the-events-calendar.php
Owners: @bordoni

Update types version from 6.17.2 to 6.17.3
  package.json
Owners: @the-events-calendar/engineers

Replace TBD entries with version 6.17.3
  src/Tribe/Views/V2/Template/Title.php
  src/Tribe/Views/V2/Url.php
  src/Tribe/Views/V2/View.php
Owners: @the-events-calendar/engineers

:symbols: Updating .pot file and add language changelog for 01e331d7c39ebe2e11abb9cef307979b2afa6fec
  changelog/task-i18n-01e331d.yaml
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/M26.machamp This is an automated PR created by coutinhocouto. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/32171334315
  changelog.md
  changelog/chore-npm-changelogger-migration.yaml
  changelog/smtnc-1889-events-archive-title-still-shows-the-oldest-events-in-the.yaml
  changelog/smtnc-1954-tec-fatal-typeerror-on-crawled-events-urls-with-malformed.yaml
  changelog/task-i18n-01e331d.yaml
  readme.txt
Owners: @the-events-calendar/engineers

chore: update version to 6.17.3 and update changelog
  changelog.md
  readme.txt
  src/Tribe/Main.php
  src/Tribe/Views/V2/Widgets/Service_Provider.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Delete changelog/feat-onboarding-activation-redirect
  changelog/feat-onboarding-activation-redirect
Owners: @the-events-calendar/engineers

Delete changelog/fix-guided-setup-dismiss-redirect
  changelog/fix-guided-setup-dismiss-redirect
Owners: @the-events-calendar/engineers

Delete changelog/fix-rest-api-validation
  changelog/fix-rest-api-validation
Owners: @the-events-calendar/engineers

Delete changelog/fix-smtnc-1797-global-load_textdomain-notice-flooding-logs
  changelog/fix-smtnc-1797-global-load_textdomain-notice-flooding-logs
Owners: @the-events-calendar/engineers

Delete changelog/fix-smtnc-231-tec-recurring-events-show-duplicatedincorrect-entries-when
  changelog/fix-smtnc-231-tec-recurring-events-show-duplicatedincorrect-entries-when
Owners: @the-events-calendar/engineers

Updating release date
  changelog.md
  readme.txt
Owners: @the-events-calendar/engineers

fix: subproject reference and enhance activation redirect logic in Tribe Main class
  src/Tribe/Main.php
Owners: @bordoni

fix: subproject reference and enhance activation redirect logic in Tribe Main class
  src/Tribe/Main.php
Owners: @bordoni
