Repository the-events-calendar/the-events-calendar, changes with the owners that CODEOWNERS names for each.
All owners: @the-events-calendar/engineers, @dpanta94, @bordoni

CODEOWNERS:

* @the-events-calendar/engineers

src/Tribe/Main.php @dpanta94 @bordoni

# All changes require Lead review
the-events-calendar.php @bordoni
src/Tribe/* @bordoni

Apply suggestion from @sdokus
  readme.txt
Owners: @the-events-calendar/engineers

Increase contrast of text color for month view past dates. [TEC-5741]
  changelog/fix-TEC-5741-increase-date-contrast
  src/resources/postcss/views/full/month/_calendar-event.pcss
  src/resources/postcss/views/full/month/_day.pcss
Owners: @the-events-calendar/engineers

Add outline on hover to datepicker
  changelog/fix-TEC-5740-outline-on-hover
  src/resources/postcss/components/full/_datepicker.pcss
Owners: @the-events-calendar/engineers

Small tweak in changelog
  changelog/fix-TEC-5740-outline-on-hover
Owners: @the-events-calendar/engineers

Cleanup docblocks.
  src/Events/Integrations/Plugins/WordPress_SEO/Events_Title.php
Owners: @the-events-calendar/engineers

Strengthen permissions checks
  changelog/fix-SVUL-48
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Endpoints/Single_Organizer.php
  src/Tribe/REST/V1/Endpoints/Single_Venue.php
  tests/rest_tec_v1_integration/Endpoints/Authorization_Test.php
Owners: @the-events-calendar/engineers

Remove unused serving variables
  src/Tribe/REST/V1/Endpoints/Single_Event.php
Owners: @the-events-calendar/engineers

Update tests
  tests/rest_tec_v1_integration/Endpoints/Authorization_Test.php
Owners: @the-events-calendar/engineers

Version bump for release/M26.arbok
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Simplify based on new REST API and move tests
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Endpoints/Single_Organizer.php
  src/Tribe/REST/V1/Endpoints/Single_Venue.php
  tests/rest_tec_v1_integration/Endpoints/Authorization_Test.php
  tests/restv1/AuthorizationCest.php
Owners: @the-events-calendar/engineers

Prepare TBDs and changelogs
  changelog.md
  changelog/fix-SVUL-48
  src/Tribe/REST/V1/Endpoints/Single_Organizer.php
  src/Tribe/REST/V1/Endpoints/Single_Venue.php
  tests/restv1/AuthorizationCest.php
Owners: @the-events-calendar/engineers

Fix changelog version number
  changelog.md
Owners: @the-events-calendar/engineers

Simplify further and update tests
  src/Tribe/REST/V1/Endpoints/Single_Event.php
  src/Tribe/REST/V1/Endpoints/Single_Organizer.php
  src/Tribe/REST/V1/Endpoints/Single_Venue.php
  tests/restv1/AuthorizationCest.php
Owners: @the-events-calendar/engineers

Add more tests
  tests/restv1/AuthorizationCest.php
Owners: @the-events-calendar/engineers

Update changelog in readme.txt
  readme.txt
Owners: @the-events-calendar/engineers

Update changelog dates
  changelog.md
  readme.txt
Owners: @the-events-calendar/engineers

Update changelog dates
  readme.txt
Owners: @the-events-calendar/engineers

Update changelog dates
  changelog.md
Owners: @the-events-calendar/engineers

Add changelog for tut analyze
  changelog/chore-add-tut-analyze-for-banette
Owners: @the-events-calendar/engineers

Replace TBD entries with version 6.15.17
  src/Events/Integrations/Plugins/WordPress_SEO/Events_Title.php
  src/Events/Integrations/Plugins/WordPress_SEO/Events_Variables.php
  src/Events/Integrations/Plugins/WordPress_SEO/Provider.php
  src/Tribe/Main.php
Owners: @the-events-calendar/engineers, @bordoni

:symbols: Updating .pot file and add language changelog for b2e3be9165424e2b3fb4f65f575d57b86bb88eca
  changelog/task-i18n-b2e3be9
  lang/the-events-calendar.pot
Owners: @the-events-calendar/engineers

Process changelog for refs/heads/release/M26.banette This is an automated PR created by sdokus. Generated by: https://github.com/the-events-calendar/the-events-calendar/actions/runs/22319903066
  changelog.md
  changelog/chore-add-tut-analyze-for-banette
  changelog/fix-TEC-4996-restore-post-tag
  changelog/fix-TEC-5740-outline-on-hover
  changelog/fix-TEC-5741-increase-date-contrast
  changelog/task-i18n-b2e3be9
  changelog/tweak-TEC-4952_yoast_category_title
  readme.txt
Owners: @the-events-calendar/engineers

Update changelog dates
  changelog.md
Owners: @the-events-calendar/engineers

Update changelog dates
  readme.txt
Owners: @the-events-calendar/engineers

Update EventUpdateCest test
  tests/restv1/EventUpdateCest.php
Owners: @the-events-calendar/engineers

TEC-4848 fix:Update package version to 6.15.17 and add taxonomy slug decoding in request handling
  changelog/fix-TEC-4848-tec-404-error-when-accessing-calendar-url-that-has-special-characters
  package-lock.json
  src/Tribe/Rewrite.php
Owners: @the-events-calendar/engineers, @bordoni

TEC-4848 fix:Update package version to 6.15.17 and add taxonomy slug decoding in request handling
  changelog/fix-TEC-4848-tec-404-error-when-accessing-calendar-url-that-has-special-characters
  src/Tribe/Rewrite.php
Owners: @the-events-calendar/engineers, @bordoni

Update src/Tribe/Rewrite.php
  src/Tribe/Rewrite.php
Owners: @bordoni

fix: PHPCS complaining
  src/Tribe/Rewrite.php
Owners: @bordoni

fix: Correct formatting of array in Tribe__Events__Rewrite class
  src/Tribe/Rewrite.php
Owners: @bordoni

fix: Adjust formatting of array in Tribe__Events__Rewrite class for consistency
  src/Tribe/Rewrite.php
Owners: @bordoni

fix: Prevent 404 errors for paginated TEC list view requests on MariaDB
  src/Events/SEO/Headers/Controller.php
Owners: @the-events-calendar/engineers

Add changelog
  changelog/fix-TEC-5056-404-on-paged-results
Owners: @the-events-calendar/engineers

Version bump for release/M26.chikorita
  package.json
  readme.txt
  src/Tribe/Main.php
  the-events-calendar.php
Owners: @the-events-calendar/engineers, @bordoni

Add tests for 404 error paginated TEC list view requests on MariaDB
  src/Events/SEO/Headers/Controller.php
  tests/views_integration/Tribe/Events/Views/V2/SEO/Headers/Controller_List_View_Paged_404_Test.php
Owners: @the-events-calendar/engineers

[TEC-4848] fix: Update subproject commit reference and enhance taxonomy slug decoding tests for internationalization
  changelog/fix-TEC-4848-tec-404-error-when-accessing-calendar-url-that-has-special-characters
  tests/wpunit/Tribe/Events/RewriteTest.php
Owners: @the-events-calendar/engineers

fix: Ensure CSV file path validation and restrict path during the tribe_aggregator_create_import action
  changelog/fix-SVUL-54
  src/Tribe/Aggregator/Record/CSV.php
  tests/wpunit/Tribe/Events/Aggregator/Record/CSVTest.php
Owners: @the-events-calendar/engineers

[TEC-5752] fix: CSS handling in Elementor integration. Added a method to generate CSS for imported documents to prevent 404 errors. Updated asset manager to use a consistent path for enqueued styles.
  changelog/fix-TEC-5752-404-errors-for-missing-elementor-css-files-on-single-event-pages
  src/Events/Integrations/Plugins/Elementor/Assets_Manager.php
  src/Events/Integrations/Plugins/Elementor/Template/Importer.php
Owners: @the-events-calendar/engineers

fix: standardize whitespace in CSS path assignment in Elementor's Assets_Manager
  src/Events/Integrations/Plugins/Elementor/Assets_Manager.php
Owners: @the-events-calendar/engineers

fix: Strengthen file type and location checks including support for offload files
  changelog/fix-SVUL-54
  src/Tribe/Aggregator/Record/CSV.php
  tests/wpunit/Tribe/Events/Aggregator/Record/CSVTest.php
Owners: @the-events-calendar/engineers
